// --------DASHBOARD_entreprise-------//
// ---ajout favture--- //
.addFactureForm{
	h2{
		color:$secondary;
		padding-bottom: 15px;
	}

	label{
		color:$grey;
		margin-bottom: 8px;
	}

	form{
		@include container;
		span{
			clear: both;
			display: block;
		}
		
		>div{
			@include span(3 of 6);

			&:nth-child(2){
				@include last;
			}

			>div{
				@include container;
				background-color: #FFF;
				padding: 15px;
				margin-bottom: 30px;
				box-sizing: border-box;
				div>div{
					@include span(3 of 6);
					&:nth-child(2){
						@include last;
					}
				}
			}
		}

		.detailsfacture{
			@include span(6 of 6);
		}

		.infosarticle{
			clear: both;
			li{
				@include span(1 of 9);
				display: inline-block;
				margin-top: 7px;
				&:last-child{
					@include last;
				}
			}
			.article{
				@include span(3 of 9);
				margin-top: 0;
			}
			.quantity{
				margin-top: 0;
			}
		}

		.infosfacture{
			background-color: $secondary;
			overflow: auto;
			padding: 5px 0;
			margin-bottom: 5px;
			li{
				@include span(1 of 9);
				display: inline-block;
				color: white;
				&:last-child{
					@include last;
				}
			}
			.article{
				@include span(3 of 9);
			}
		}
	}

	input, select, button{
		display: block;
		margin-bottom: 10px;
		height: 30px;
	}

	input, textarea, select{
		width: 100%;
		background-color: #f3f3f3;
		border:none;
		padding: 0 10px;
		box-sizing: border-box;
	}

	.col-right{
		@include last;
	}
	
	.tva div{
		&:first-child{
			@include span(2 of 12);
		}
		&:nth-child(2){
			@include span(7 of 12);
			margin-top: 14px;
		}
		&:last-child{
			@include span(3 of 12 last);
		}
	}
}