// --------DASHBOARD_entreprise-------//
// ---ajout client--- //
.addClientForm{
	h2{
		color:$secondary;
		padding-bottom: 15px;
	}

	label{
		color:$grey;
		margin-bottom: 8px;
	}

	form{
		@include container;
		span{
			clear: both;
			display: block;
		}
		
		>div{
			@include span(3 of 6);

			&:nth-child(2){
				@include last;
			}

			>div{
				@include container;
				background-color: #FFF;
				padding: 15px;
				margin-bottom: 30px;
				box-sizing: border-box;
				div>div{
					@include span(3 of 6);
					&:nth-child(2){
						@include last;
					}
				}
			}
		}
	}

	input, select, button{
		display: block;
		margin-bottom: 10px;
		height: 30px;
	}

	input, textarea, select{
		width: 100%;
		background-color: #f3f3f3;
		border:none;
		padding: 0 10px;
		box-sizing: border-box;
	}

	.col-right{
		@include last;
	}
	
	.tva div{
		&:first-child{
			@include span(1 of 6);
		}
		&:last-child{
			@include span(5 of 6 last);
			margin-top: 14px;
		}
	}

	.validation{
		background-color: $secondary;
		border: none;
		color: white;
		font-weight: 800;
		&:hover{
			background-color: lighten($secondary, 5%);
			cursor:pointer;
		}
	}
}

//////// GENERAL


.select{
	@include span (1 of 6);
	background-color: #939598;
	color: white;
	border:none;
	padding: 5px;
	&:hover{
		background-color: #a3a5a8;
		cursor: pointer;
	}
}

.selectActive{
	background-color: #0297cc !important;
}