// --------DASHBOARD Home-------//
.container {
	@include container(100%);
	margin: 0;
	padding: 0;
}
.landing{
	@include container(100%);
	background-color:#6e1b56;
}

.headerImg{
	@include span(3 of 6);
	position: absolute;
	
	img{
		padding-top: 100px;
		padding-left: 220px;
		
	}
}

.resumeInfo{
	@include span(3 of 6 last);
	
	
	padding-top: 100px;
	.Title{

		color:#85c44a;
	}
	p{	
		padding-top: 20px;
		color: white;
		font-family: $MyrRegular;
		width: 600px;
		line-height: 15px;

	}
	.subscribe,.connection{
		height: 30px;
		width: 175px;
		margin-top: 30px;
		margin-right: 15px;
		border-radius: 3px;
		background-color: white;
		display: inline-block;
		text-align: center;
		padding-top: 15px;
		vertical-align: middle;
		color: white;
		font-family: $MyrRegular;

		
	}
	.subscribe{
		background-color: #84c34a;
	}
	.connection{
		background-color: #29ace1;
	}

}
.bg_bottom{
	background: url(../img/bg_decoupe.png)no-repeat top;
	background-size: 100% 100%;
	margin-top: -10px;
	height: 100px;
}
// ------------//
.constelation{
	@include container;
	// background-color: red;
	text-align: center;
	margin-top: -250px;
	
}
// ------------//
footer p{
	// height: 100px;
	font-family: $MyrRegular;
	color: #6e1b56;
	text-align: center;
	margin: 50px 0 50px 0;

}

//------Comments hover svg------ //
.svgHover1, .svgHover2, .svgHover3, .svgHover4{
	width: 200px;
	font-family: $MyrRegular;
	color: black;
	font-size: 1.5rem;
	position: absolute;
}

.svgHover1 {

	margin-top: -200px;
	margin-left: 200px;
	height: 50px;


}

.svgHover2 {
	
	margin-top: -200px;
	margin-left: 250px;
	height: 50px;
	
}

.svgHover3{
	margin-top: -200px;
	margin-left: 300px;
	height: 50px;

}

.svgHover4{
	margin-top: -200px;
	margin-left: 450px;
	height: 50px;

}
.circle:hover{
	
   stroke: #92c133 ;
        transition-duration: 0.5s;


 }


