
.login_popup{
	height: 450px;
	text-align: center;

	.input_login{
		text-align: center;
		width: 70%;
		padding: 10px;
		border: solid 2px #85c44a;
		background: transparent;
		outline: none;
		font-size: 1em;

	}

	.email_login{
		font-family: $MyrRegular;
		font-size: 1rem;	
		

		p{
			padding-top: 5px;
			padding-left: 65px;
			text-align: left;
		}
	}
	.ngdialog-button, .ngdialog-button-primary{

		float: center;

	}

	.errormsg{

		color:red;
	}

	


}

