.matable {
	padding-top: 20px;
	padding-bottom: 200px;
	margin-bottom: 30px;
	background-color: white;
}

table {
	background-color: white;
}

tbody{
	min-height: 600px;
	margin: 15px 0;
}

th {
	background-color: #84c900;
	color: white;
	padding: 5px;
}

li, td:first-child {
}

li, td {
	text-align: center;
	padding-top: 20px;
	padding-left: 15px;
}

.search input {
	@include span(10 of 12);
}

.searchicon {
	@include span(2 of 12 last);
	height: 35px;
	color: white;
	background-color: #84c900;
	border: none;
}

.viewcolumn {
	color: blue;
}

.deletecolumn {
	color: purple;
}

.paid {
	color: #84c900;
}

.wait {
	color: orange;
}

.delete {
	color: grey;
}