<div class="innercontainer">
	<section class="header_title">
		<a class="addClient">
			<div class="icons">
				<i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i>
			</div>
			<p class="infos">Ajouter un client</p>
		</a>

		<a href="#/dashboard_Entreprise/clients/viewclient" class="clients_nbr">
			<div class="icons">
				<i class="fa fa-users fa-3x" aria-hidden="true"></i>
			</div>

			<p class="infos">{{clients.length}} Clients</p>

		</a>
		<a href="#/dashboard_Entreprise/devis/viewdevis" class="devis_view">
			<div class="icons">
				<i class="fa fa-pencil-square-o fa-3x" aria-hidden="true"></i>
			</div>

			<p class="subInfos">Devis</p>

		</a>
		<a href="#/dashboard_Entreprise/factures/viewfactures" class="factures_view">
			<div class="icons">
				<i class="fa fa-file-text-o fa-3x" aria-hidden="true"></i>
			</div>
			<p class="subInfos">Factures</p>
		</a>
	</section>

	<section class="searchMenu">
		<button class="select" ng-click="showView1()" ng-class="{selectActive: view1}">
			<p class="subInfos">Particulier</p>
		</button>

		<button class="select" ng-click="showView2()" ng-class="{selectActive: view2}">
			<p class="subInfos">Entreprise</p>
		</button>
	</section>



	<section class="addClientForm">
		<!-- faire switch bouton mêmes cordonnees factu/livrai-->
		<form name="addClientForm" ng-submit="createClient(addClientForm.$valid)" novalidate>
			<!-- COL GAUCHE  -->
			<div>
				<div>
					<h2>
						<span ng-show="view1">Particulier</span>
						<span ng-show="view2">Entreprise</span>
					</h2>
					<div>
						<div>
							<label for="input-name">
								<span ng-show="view1">Nom de référence</span>
								<span ng-show="view2">Nom de l'entreprise</span>
							</label>
							<input type="text" ng-pattern="onlyLetters" id="input-name" ng-model="newClient.name" required>
						</div>
						<div>
							<label for="picture">
								<span ng-show="view1">Avatar</span>
								<span ng-show="view2">Image</span>
							</label>
							<button>Parcourir</button>
						</div>
					</div>
				</div>
				<div ng-show="view2">
					<h2>TVA</h2>
					<div class="tva">
						<div>
							<label for="input-tva1">N° de TVA</label>
							<select ng-model="numtva1" ng-options="tvaPrefix for tvaPrefix in listVatPrefix" ng-required='entreprise'></select>
						</div>
						<div>
							<label for="input-numtva2"></label>
							<select ng-model="numtva1" ng-options="tvaPrefix for tvaPrefix in listVatPrefix" ng-required='entreprise'></select>
						</div>
					</div>
					<div>
						<span>
							<label for="input-numbersirentva">Numéro SIREN</label>
							<input ng-required='entreprise' type="text" ng-pattern="onlyNumbers" ng-minlength="6" ng-maxlength="16" id="input-numbersirentva" ng-model="newClient.client.vat.siren">
						</span>
					</div>
					<div>
						<span>
							<label for="input-numberRCStva">Numéro RCS</label>
							<input ng-required='entreprise' type="text" ng-pattern="onlyNumbers" ng-minlength="6" ng-maxlength="16" id="input-numberRCStva" ng-model="newClient.client.vat.rcs">
						</span>
					</div>
				</div>

				<div>
					<h2>Personne de contact</h2>
					<div>
						<div>
							<label>Civilité</label>
							<select ng-model="newClient.contactPerson.civility" required>
								<option value="monsieur">Monsieur</option>
								<option value="madame">Madame</option>
							</select>
						</div>
						<div ng-show="view2">
							<label for="input-postcontactPerson">Fonction</label>
							<input ng-required='entreprise' type="text" ng-pattern="onlyLetters" ng-model="newClient.contactPerson.post" id="post">
						</div>
					</div>
					<div>
						<div>
							<label for="input-lastnamecontactPerson">Nom</label>
							<input type="text" ng-pattern="onlyLetters" ng-model="newClient.contactPerson.lastname" id="lastname" required>
						</div>

						<div>
							<label for="input-firstnamecontactPerson">Prénom</label>
							<input type="text" ng-pattern="onlyLetters" ng-model="newClient.contactPerson.firstname" id="firstname" required>
						</div>
					</div>


					<div>
						<div>
							<label for="input-phoneMaincontactPerson">Téléphone Principal</label>
							<input type="text" ng-pattern="onlyNumbers" ng-minlength="1" ng-maxlength="10" ng-model="newClient.contactPerson.phoneMain" id="phoneMain" required>
						</div>
						<div>
							<label for="input-phoneSeccontactPerson">Téléphone secondaire</label>
							<input type="text" ng-pattern="onlyNumbers" ng-minlength="1" ng-maxlength="10" ng-model="newClient.contactPerson.phoneSec" id="phoneSec" required>
						</div>
					</div>

					<div>
						<div>
							<label for="input-mailcontactPerson">Email</label>
							<input type="email" ng-pattern="onlyMail" ng-model="newClient.contactPerson.mail" id="input-mailcontactPerson" required>
						</div>
					</div>
				</div>

				<div>
					<h2>Mémo</h2>
					<div>
						 <textarea rows="5"></textarea> 
					</div>
				</div>
			</div>

			<!-- COL DROITE  -->

			<div>
				<div>
					<h2>Coordonnées de facturation</h2>
					<div>
						<div>
							<label>Civilité</label>
							<select ng-model="newClient.billingInfo.civility" required>
								<option value="monsieur">Monsieur</option>
								<option value="madame">Madame</option>
							</select>
						</div>
					</div>
					<div>
						<div>
							<label for="input-lastnamebillingInfo">Nom</label>
							<input type="text" ng-pattern="onlyLetters" ng-model="newClient.billingInfo.lastname" id="input-lastnamebillingInfo" required>
						</div>

						<div>
							<label for="input-firstnamebillingInfo">Prénom</label>
							<input type="text" ng-pattern="onlyLetters" ng-model="newClient.billingInfo.firstname" id="nput-firstnamebillingInfo" required>
						</div>
					</div>

					<div>
						<span>
							<label for="input-streetbillingInfo">Rue</label>
							<input type="text" ng-pattern="onlyLetters" ng-model="newClient.billingInfo.street" id="input-streetbillingInfo" required>
						</span>
					</div>

					<div>
						<div>
							<div>
								<label for="input-numberbillingInfo">Numéro</label>
								<input type="text" ng-pattern="onlyNumbers" ng-minlength="1" ng-maxlength="4" ng-model="newClient.billingInfo.number" id="input-numberbillingInfo" required>
							</div>

							<div>

								<label for="input-boxbillingInfo">Boite</label>
								<input type="text" ng-pattern="onlyNumbers" ng-minlength="4" ng-maxlength="6" ng-model="newClient.billingInfo.box" id="input-boxbillingInfo" required>
							</div>
						</div>

						<div>
							<label for="input-zipbillingInfo">Code Postal</label>
							<input type="text" ng-pattern="onlyNumbers" ng-minlength="4" ng-maxlength="4" ng-model="newClient.billingInfo.zip" id="input-zipbillingInfo" required>
						</div>
					</div>

					<div>
						<div>
							<label for="input-townbillingInfo">Ville</label>
							<input type="text" ng-pattern="onlyLetters" ng-model="newClient.billingInfo.town" id="input-townbillingInfo" required>
						</div>
						<div>
							<label>Pays</label>
							<select ng-model="newClient.billingInfo.country" ng-options="country for country in listContries" required></select>
						</div>
					</div>

					<div>
						<div>
							<label for="input-phoneMainbillingInfo">Téléphone Principal</label>
							<input type="text" ng-pattern="onlyNumbers" ng-minlength="6" ng-maxlength="16" ng-model="newClient.billingInfo.phoneMain" id="phoneMainbillingInfo" required>
						</div>
						<div>
							<label for="input-phoneSecbillingInfo">Téléphone secondaire</label>
							<input type="text" ng-pattern="onlyNumbers" ng-minlength="6" ng-maxlength="16" ng-model="newClient.billingInfo.phoneSec" id="phoneSecbillingInfo" required>
						</div>
					</div>

					<div>
						<div>
							<label for="input-mailbillingInfo">Email</label>
							<input type="email" ng-pattern="onlyMail" ng-model="newClient.billingInfo.mail" id="input-mailbillingInfo" required>
						</div>

						<div>
							<label for="input-faxbillingInfo">Fax</label>
							<input type="text" ng-pattern="onlyNumbers" ng-minlength="6" ng-maxlength="16" ng-model="newClient.billingInfo.fax" id="input-faxbillingInfo" required>
						</div>
					</div>
				</div>

				<div>
					<h2>Coordonnées de livraison</h2>
					<label>Même coordonnées que la facturation</label>
					<input type="checkbox" ng-model="checkCoord" class="checkCoord">
					<span ng-hide="checkCoord">
						<div>
							<div>
								<label for="input-civilitydeliveryInfo">Civilité</label>
								<select ng-model="newClient.deliveryInfo.civility" ng-required="!checkCoord">
									<option value="monsieur">Monsieur</option>
									<option value="madame">Madame</option>
								</select>
							</div>
						</div>
						<div>
							<div>
								<label for="input-lastnamedeliveryInfo">Nom</label>
								<input type="text" ng-pattern="onlyLetters" id="input-lastnamedeliveryInfo" ng-model="newClient.deliveryInfo.lastname" ng-required="!checkCoord">
							</div>

							<div>
								<label for="input-firstnamedeliveryInfo">Prénom</label>
								<input type="text" ng-pattern="onlyLetters" id="input-firstnamedeliveryInfo" ng-model="newClient.deliveryInfo.firstname" ng-required="!checkCoord">
							</div>
						</div>

						<div>
							<span>
								<label for="input-streetdeliveryInfo">Rue</label>
								<input type="text" ng-pattern="onlyLetters" id="input-streetdeliveryInfo" ng-model="newClient.deliveryInfo.street" ng-required="!checkCoord">
							</span>
						</div>

						<div>
							<div>
								<div>
									<label for="input-numberdeliveryInfo">Numéro</label>
									<input type="text" ng-pattern="onlyNumbers" ng-minlength="1" ng-maxlength="4" id="input-numberdeliveryInfo" ng-model="newClient.deliveryInfo.number" ng-required="!checkCoord">
								</div>

								<div>

									<label for="input-boxdeliveryInfo">Boite</label>
									<input type="text" ng-pattern="onlyNumbers" ng-minlength="4" ng-maxlength="6" id="input-boxdeliveryInfo" ng-model="newClient.deliveryInfo.box" ng-required="!checkCoord">
								</div>
							</div>

							<div>
								<label for="input-zipdeliveryInfo">Code Postal</label>
								<input type="text" ng-pattern="onlyNumbers" ng-minlength="4" ng-maxlength="4" id="input-zipdeliveryInfo" ng-model="newClient.deliveryInfo.zip" ng-required="!checkCoord">
							</div>
						</div>

						<div>
							<div>
								<label for="input-towndeliveryInfo">Ville</label>
								<input type="text" ng-pattern="onlyLetters" id="input-towndeliveryInfo" ng-model="newClient.deliveryInfo.town" ng-required="!checkCoord">
							</div>
							<div>
								<label for="input-countrydeliveryInfo">Pays</label>
								<select ng-model="newClient.deliveryInfo.country" ng-options="country for country in listContries"></select ng-required="!checkCoord">
							</div>
							
						</div>
					</span>
				</div>

				<div>
					<h2>Validation</h2>
					<span>
						<input id ="button-validation" type="submit" class="invalid" value="Enregistrer les informations" ng-disabled="addClientForm.$invalid" ng-class="{valid: addClientForm.$valid}">
					</span>
				</div>
			</div>
		</form>
	</section>
</div>