<div class="innercontainer">
	<section class="header_title">
		<a class="addClient">
			<div class="icons">
				<i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i>
			</div>
			<p class="subInfos">Ajouter un client</p>
		</a>

		<a href="#/dashboard_Entreprise/clients/viewclient" class="clients_nbr">
			<div class="icons">
				<i class="fa fa-users fa-3x" aria-hidden="true"></i>
			</div>

			<p class="infos">{{clients.length}} Clients</p>

		</a>
		<a href="#/dashboard_Entreprise/devis/viewdevis" class="devis_view">
			<div class="icons">
				<i class="fa fa-pencil-square-o fa-3x" aria-hidden="true"></i>
			</div>

			<p class="subInfos">Devis</p>

		</a>
		<a href="#/dashboard_Entreprise/factures/viewfactures" class="factures_view">
			<div class="icons">
				<i class="fa fa-file-text-o fa-3x" aria-hidden="true"></i>
			</div>
			<p class="subInfos">Factures</p>
		</a>
	</section>

	<section class="searchMenu">
		<button class="select" ng-click="showParticulier()" ng-class="{selectActive: particulier}">
			<p class="subInfos">Particulier</p>
		</button>

		<button class="select" ng-click="showEntreprise()" ng-class="{selectActive: entreprise}">
			<p class="subInfos">Entreprise</p>
		</button>
	</section>



	<section class="addClientForm">
		<!-- faire switch bouton mêmes cordonnees factu/livrai -->
		<form name="addClientForm">
			<!-- COL GAUCHE  -->
			<div>
				<div>
					<h2>Particulier</h2>
					<div ng-show="particulier">
						<div>
							<label for="input-name">Nom de référence</label>
							<input type="text" id="input-name" ng-model="newClient.name">
						</div>
						<div>
							<label for="picture">Avatar</label>
							<button>Parcourir</button>
						</div>
					</div>
					<div ng-show="entreprise">
						<div>
						<label for="input-name">Entreprise</label>
						<input type="text" id="input-name" ng-model="newClient.name">
						</div>
						<div>
							<label for="picture">Image</label>
							<button>Parcourir</button>
						</div>
					</div>
				</div>
				<div ng-show="entreprise">
					<h2>TVA</h2>
					<div class="tva">
						<div>
							<label for="input-tva">N° de TVA</label>
							<select ng-model="numbertva1">
								<option value="be">BE</option>
							</select>
						</div>
						<div>
							<label for="input-numtva"></label>
							<input type="text" name="numtva" id="numtva" ng-model="numbertva2">
						</div>
					</div>
					<div>
						<span>
							<label for="input-numbersirentva">Numéro SIREN</label>
							<input type="text" id="input-numbersirentva" ng-model="newClient.client.vat.siren">
						</span>
					</div>
					<div>
						<span>
							<label for="input-numberRCStva">Numéro RCS</label>
							<input type="text" id="input-numberRCStva" ng-model="newClient.client.vat.rcs">
						</span>
					</div>
				</div>

				<div>
					<h2>Personne de contact</h2>
					<div>
						<div>
							<label>Civilité</label>
							<select ng-model="newClient.contactPerson.civility">
								<option value="monsieur">Monsieur</option>
								<option value="madame">Madame</option>
							</select>
						</div>
						<div ng-show="entreprise">
							<label for="input-postcontactPerson">Fonction</label>
							<input type="text" ng-model="newClient.contactPerson.post" id="post">
						</div>
					</div>
					<div>
						<div>
							<label for="input-lastnamecontactPerson">Nom</label>
							<input type="text" ng-model="newClient.contactPerson.lastname" id="lastname">
						</div>

						<div>
							<label for="input-firstnamecontactPerson">Prénom</label>
							<input type="text" ng-model="newClient.contactPerson.firstname" id="firstname">
						</div>
					</div>


					<div>
						<div>
							<label for="input-phoneMaincontactPerson">Téléphone Principal</label>
							<input type="text" ng-model="newClient.contactPerson.phoneMain" id="phoneMain">
						</div>
						<div>
							<label for="input-phoneSeccontactPerson">Téléphone secondaire</label>
							<input type="text" ng-model="newClient.contactPerson.phoneSec" id="phoneSec">
						</div>
					</div>

					<div>
						<div>
							<label for="input-mailcontactPerson">Email</label>
							<input type="text" ng-model="newClient.contactPerson.mail" id="mail">
						</div>
					</div>
				</div>

				<div>
					<h2>Mémo</h2>
					<div>
						 <textarea rows="5"></textarea> 
					</div>
				</div>
			</div>

			<!-- COL DROITE  -->

			<div>
				<div>
					<h2>Coordonnées de facturation</h2>
					<div>
						<div>
							<label>Civilité</label>
							<select ng-model="newClient.billingInfo.civility">
								<option value="monsieur">Monsieur</option>
								<option value="madame">Madame</option>
							</select>
						</div>
					</div>
					<div>
						<div>
							<label for="input-lastnamebillingInfo">Nom</label>
							<input type="text" ng-model="newClient.billingInfo.lastname" id="input-lastnamebillingInfo">
						</div>

						<div>
							<label for="input-firstnamebillingInfo">Prénom</label>
							<input type="text" ng-model="newClient.billingInfo.firstname" id="nput-firstnamebillingInfo">
						</div>
					</div>

					<div>
						<span>
							<label for="input-streetbillingInfo">Rue</label>
							<input type="text" ng-model="newClient.billingInfo.street" id="input-streetbillingInfo">
						</span>
					</div>

					<div>
						<div>
							<div>
								<label for="input-numberbillingInfo">Numéro</label>
								<input type="text" ng-model="newClient.billingInfo.number" id="input-numberbillingInfo">
							</div>

							<div>

								<label for="input-boxbillingInfo">Boite</label>
								<input type="text" ng-model="newClient.billingInfo.box" id="input-boxbillingInfo">
							</div>
						</div>

						<div>
							<label for="input-zipbillingInfo">Code Postal</label>
							<input type="text" ng-model="newClient.billingInfo.zip" id="input-zipbillingInfo">
						</div>
					</div>

					<div>
						<div>
							<label for="input-townbillingInfo">Ville</label>
							<input type="text" ng-model="newClient.billingInfo.town" id="input-townbillingInfo">
						</div>
						<div>
							<label>Pays</label>
							<select ng-model="newClient.billingInfo.country">
								<option value="country">Country</option>
							</select>
						</div>
						
					</div>

					<div>
						<div>
							<label for="input-phoneMainbillingInfo">Téléphone Principal</label>
							<input type="text" ng-model="newClient.billingInfo.phoneMain" id="phoneMainbillingInfo">
						</div>
						<div>
							<label for="input-phoneSecbillingInfo">Téléphone secondaire</label>
							<input type="text" ng-model="newClient.billingInfo.phoneSec" id="phoneSecbillingInfo">
						</div>
					</div>

					<div>
						<div>
							<label for="input-mailbillingInfo">Email</label>
							<input type="text" ng-model="newClient.billingInfo.mail" id="input-mailbillingInfo">
						</div>
						<div>
							<label for="input-faxbillingInfo">Fax</label>
							<input type="text" ng-model="newClient.billingInfo.fax" id="input-faxbillingInfo">
						</div>
					</div>
				</div>

				<div>
					<h2>Coordonnées de livraison</h2>
					<label>Même coordonnées que la facturation</label>
					<select ng-model="samecoord">
						<option value="">Oui</option>
						<option value="true">Non</option>
					</select>
					<span ng-show="samecoord">
						<div>
							<div>
								<label for="input-civilitydeliveryInfo">Civilité</label>
								<select ng-model="newClient.deliveryInfoInfo.civility">
									<option value="monsieur">Monsieur</option>
									<option value="madame">Madame</option>
								</select>
							</div>
						</div>
						<div>
							<div>
								<label for="input-lastnamedeliveryInfo">Nom</label>
								<input type="text" id="input-namedeliveryInfo" ng-model="newClient.deliveryInfoInfo.lastname">
							</div>

							<div>
								<label for="input-firstnamedeliveryInfo">Prénom</label>
								<input type="text" id="input-firstnamedeliveryInfo" ng-model="newClient.deliveryInfoInfo.firstname">
							</div>
						</div>

						<div>
							<span>
								<label for="input-streetdeliveryInfo">Rue</label>
								<input type="text" id="input-streetdeliveryInfo" ng-model="newClient.deliveryInfoInfo.street">
							</span>
						</div>

						<div>
							<div>
								<div>
									<label for="input-numberdeliveryInfo">Numéro</label>
									<input type="text" id="input-numberdeliveryInfo" ng-model="newClient.deliveryInfoInfo.street">
								</div>

								<div>

									<label for="input-boxdeliveryInfo">Boite</label>
									<input type="text" id="input-boxdeliveryInfo" ng-model="newClient.deliveryInfoInfo.box">
								</div>
							</div>

							<div>
								<label for="input-zipdeliveryInfo">Code Postal</label>
								<input type="text" id="input-zipdeliveryInfo" ng-model="newClient.deliveryInfoInfo.box">
							</div>
						</div>

						<div>
							<div>
								<label for="input-towndeliveryInfo">Ville</label>
								<input type="text" id="input-towndeliveryInfo" ng-model="newClient.deliveryInfoInfo.town">
							</div>
							<div>
								<label for="input-countrydeliveryInfo">Pays</label>
								<select ng-model="newClient.deliveryInfoInfo.country" id="input-country">
									<option value="country">Country</option>
								</select>
							</div>
							
						</div>

						<div>
							<div>
								<label for="input-phoneMaindeliveryInfo">Téléphone Principal</label>
								<input type="text" ng-model="newClient.deliveryInfoInfo.phoneMain" id="input-phoneMaindeliveryInfo">
							</div>
							<div>
								<label for="input-phoneSecdeliveryInfo">Téléphone secondaire</label>
								<input type="text" ng-model="newClient.deliveryInfoInfo.phoneSec" id="input-phoneSecdeliveryInfo">
							</div>
						</div>

						<div>
							<div>
								<label for="input-maildeliveryInfo">Email</label>
								<input type="text" id="input-mail" ng-model="newClient.deliveryInfoInfo.maildeliveryInfo">
							</div>
							<div>
								<label for="input-faxdeliveryInfo">Fax</label>
								<input type="text" id="input-faxdeliveryInfo" ng-model="newClient.billingInfo.fax">
							</div>
						</div>
					</span>
				</div>

				<div>
					<h2>Validation</h2>
					<span>
							<input type="submit" ng-show="particulier"  class="validation" value="Enregistrer en tant que particulier">
							<input type="submit" ng-show="entreprise"   class="validation" value="Enregistrer en tant que entreprise">
					</span>
				</div>
			</div>
		</form>
	</section>
</div>