<section class="viewProfile">
	<div class="profile">
		<div class="informations">
			<img src="img/id_account.svg" alt="id_pictures" height="120" width="120">
		</div>
	.general_
		<div class="name_informations">
			<p>Pierre Dupont</p>
			<div class="edit">
				<a href=""><i class="fa fa-pencil" aria-hidden="true"></i>
					<p>Edit</p></a>
			</div>
		</div>
		<div class="all_informations">
			<div class="statut">
				<p>Statut</p>
				<p>Monsieur</p>
			</div>
			<div class="phone_number">
				<p>Phone</p>
				<p>+32(0)71129494</p>

			</div>
			<div class="mail">
				<p>Mail</p>
				<p>Pierre.dupont@gmail.com</p>
			</div>
			<div class="phone_number2">
				<p>Optional Phone</p>
				<p>+32 (0)498398475</p>
			</div>
		</div>
	</div>


		<div class="activity">

		</div>
	</section>