<div class="innercontainer">

	<section class="viewProfile">

		<!-- User profile -->
		<div class="profile">

			<!-- Header profile -->
			<div>
				<div class="informations">
					<img src="img/id_account.svg" alt="id_pictures" height="120" width="120">
				</div>

				<div class="name_informations">
					<p>{{detailsClient.name}}</p>

					<div class="edit">
						<a href="#"><i class="fa fa-pencil" aria-hidden="true"></i>
							<p>Edit</p>
						</a>
					</div>

				</div>
			</div>

			<div class="ALL_informations">
				<!-- Informations -->
				<div class="primary_information">

						<p class="title">Statut</p>
						<p>{{detailsClient.contactPerson.civility}}&nbsp;</p>

						<p class="title">Phone</p>
						<p>{{detailsClient.contactPerson.phoneMain}}&nbsp;</p>
		
						<p class="title">Mail</p>
						<p>{{detailsClient.contactPerson.mail}}&nbsp;</p>

						<p class="title">Optional Phone</p>
						<p>{{detailsClient.contactPerson.phoneSec}}&nbsp;</p>

				</div>

				<div class="contact_billings">

					<h2>Contact billings</h2>
			
						<p class="title">Firstname</p>
						<p>{{detailsClient.billingInfo.firstname}}&nbsp;</p>
		
						<p class="title">Lastname</p>
						<p>{{detailsClient.billingInfo.lastname}}&nbsp;</p>
		
						<p class="title">Street, n°</p>
						<p>{{detailsClient.billingInfo.street}}, {{detailsClient.billingInfo.number}}&nbsp;</p>

						<p class="title">BP</p>
						<p>{{detailsClient.billingInfo.box}}&nbsp;</p>

						<p class="title">Zip</p>
						<p>{{detailsClient.billingInfo.zip}}&nbsp;</p>
		
						<p class="title">City</p>
						<p>{{detailsClient.billingInfo.town}}&nbsp;</p>

						<p class="title">Country</p>
						<p>{{detailsClient.billingInfo.country}}&nbsp;</p>

						<p class="title">Phone</p>
						<p>{{detailsClient.billingInfo.phoneMain}}&nbsp;</p>
				
						<p class="title">Mail</p>
						<p>{{detailsClient.billingInfo.mail}}&nbsp;</p>
		
						<p class="title">Optional Phone&nbsp;</p>
						<p>{{detailsClient.billingInfo.phoneSec}}&nbsp;</p>
			
						<p class="title">Fax</p>
						<p>{{detailsClient.billingInfo.fax}}&nbsp;</p>
		
				</div>

				<div class="contact_delivery">

					<h2>Contact delivery</h2>

				<!-- 		<p class="title">Same as billings datas</p>
				<p>Yes/No</p> -->
					
						<p class="title">Firstname</p>
						<p>{{detailsClient.deliveryInfo.firstname}}&nbsp;</p>

						<p class="title">Lastname</p>
						<p>{{detailsClient.deliveryInfo.lastname}}&nbsp;</p>

						<p class="title">Company</p>
						<p>{{detailsClient.deliveryInfo.company}}&nbsp;</p>

						<p class="title">Street, n°</p>
						<p>{{detailsClient.deliveryInfo.street}}, {{detailsClient.deliveryInfo.number}}&nbsp;</p>
				
						<p class="title">Zip</p>
						<p>{{detailsClient.deliveryInfo.zip}}&nbsp;</p>
					
						<p class="title">BP</p>
						<p>{{detailsClient.deliveryInfo.box}}&nbsp;</p>

						<p class="title">City</p>
						<p>{{detailsClient.deliveryInfo.town}}&nbsp;</p>
					
						<p class="title">Country</p>
						<p>{{detailsClient.deliveryInfo.country}}&nbsp;</p>
					
				</div>
			</div>

		</div>

		<!-- Activities AND Notes -->
		<div class="activities">

			<section>

			<div class="matableprofile">

			<h1>Activities</h1>

			<h2>Factures</h2>

				<table>
					<tr>
						<th>Date</th>
						<th>File</th>
						<th>Statut</th>
						<th>Delete</th>
					</tr>
					<tr ng-repeat="bill in detailsClient.bills">
						<td ><span>{{bill.createdAt | date : 'd/MM/yyyy'}}</span></td>
						<td>facture_123456_loremipsum.pdf</td>
						<!-- <td><span class="paid">Payé <i class="fa fa-check" aria-hidden="true"></i></span></td> -->
						<td ng-switch="bill.state">
							<span class="paid" ng-switch-when="true">Payée <i class="fa fa-check" aria-hidden="true"></i></span>
							<span class="wait" ng-switch-when="false">En attente <i class="fa fa-exclamation" aria-hidden="true"></i></span>
						</td>
						<td><a href="#"><span class="deletecolumn"><i class="fa fa-times-circle" aria-hidden="true"></i></span></a></td>
					</tr>
	
				</table>

				<h2>Devis</h2>

				<table>
					<tr>
						<th>Date</th>
						<th>File</th>
						<th>Statut</th>
						<th>Delete</th>
					</tr>
					<tr ng-repeat="quot in detailsClient.quotations">
						<td><span>{{quot.createdAt | date : 'd/MM/yyyy'}}</span></td>
						<td>facture_123456_loremipsum.pdf</td>
						<td ng-switch="quot.state">
							<span class="paid" ng-switch-when="true">Accepté <i class="fa fa-check" aria-hidden="true"></i></span>
							<span class="wait" ng-switch-when="false">En attente <i class="fa fa-exclamation" aria-hidden="true"></i></span>
							<span class="delete" ng-switch-when="null">Refusé <i class="fa fa-exclamation" aria-hidden="true"></i></span>
						</td>
						<td><a href="#"><span class="deletecolumn"><i class="fa fa-times-circle" aria-hidden="true"></i></span></a></td>
					
				</table>
			</div>

			</section>

			<div class="notes">
			<section>

				<h1>Notes</h1>

				<p>
				{{detailsClient.memo}}
				</p>

			</section>
			</div>

		</div>

	</section>

</div>

<div class="background"></div>