<!-- <h2>View Client</h2>
	<a href="#/dashboard_Entreprise/clients/createnewclient">Create a new client</a> -->

	<section class="header_title">
		<div class="clients_nbr">
			<div class="icons">
				<i class="fa fa-users fa-3x" aria-hidden="true"></i>
			</div>

			<p class="infos">{{clients.length}} Clients</p>

		</div>

		<div class="addClient">

			<div class="icons">
				<i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i>

			</div>

			<p class="subInfos">Ajouter un client</p>
		</div>

		<div class="devis_view">
			<div class="icons">
				<i class="fa fa-pencil-square-o fa-3x" aria-hidden="true"></i>
			</div>

			<p class="subInfos">Devis</p>

		</div>
		<div class="factures_view">
			<div class="icons">
				<i class="fa fa-file-text-o fa-3x" aria-hidden="true"></i>
			</div>
			<p class="subInfos">Factures</p>
		</div>

	</section>
	<section class="searchMenu">
		<div class="selectParticuliers">

			<p class="subInfos">Particuliers ({{nbrPrivateprs}})</p>

		</div>
		<div class="selectEntreprise">

			<p class="subInfos">Entreprises ({{nbrCompanies}})</p>
		</div>

		<div class="search">
			<input type="text" placeholder="Faire une recherche">

		</div>

	</section>
	<section class="gallery_profile" ng-repeat="client in clients">
		<ul class="gallery">
			<li class="profile">
				<img src="img/id_account.svg" alt="id_pictures" height="105" width="105">
				<p class="name_profile">{{client.name}}</p>
				<div class="infos_devis">
					<p>Devis</p>
					<p>{{client.quotations.length}}</p>
				</div>
				<div class="infos_facture">
					<p>Facture</p>
					<p>{{client.bills.length}}</p>
				</div>
				<a href="#"><i class="fa fa-times " aria-hidden="true"></i></a>
				<a href="#"><i class="fa fa-pencil" aria-hidden="true"></i></a>
				<a href="#/dashboard_Entreprise/clients/viewprofile"><i class="fa fa-eye" aria-hidden="true"></i></a>

			</li>

		</ul>
		
	</section>







