<!-- <h2>View Client</h2>
	<a href="#/dashboard_Entreprise/clients/createnewclient">Create a new client</a> -->
<div class="innercontainer">
	<section class="header_title">
		<a class="clients_nbr">
			<div class="icons">
				<i class="fa fa-users fa-3x" aria-hidden="true"></i>
			</div>

			<p class="infos">{{clients.length}} Clients</p>

		</a>
		<a href="#/dashboard_Entreprise/clients/createnewclient" class="addClient">

			<div class="icons">
				<i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i>

			</div>

			<p class="infos">Ajouter un client</p>
		</a>
		<a href="#/dashboard_Entreprise/devis/viewdevis" class="devis_view">
			<div class="icons">
				<i class="fa fa-pencil-square-o fa-3x" aria-hidden="true"></i>
			</div>

			<p class="subInfos">Devis </p>

		</a>
		<a href="#/dashboard_Entreprise/factures/viewfactures" class="factures_view">
			<div class="icons">
				<i class="fa fa-file-text-o fa-3x" aria-hidden="true"></i>
			</div>
			<p class="subInfos">Factures</p>
		</a>
	</section>

	<section class="searchMenu">

		<div class="selectParticuliers">

			<a href="" class="subInfos" ng-click="showPrivates()">Particuliers ({{nbrPrivateprs}})</a>
			
		</div>
		<div class="selectEntreprise">

			<a href="" class="subInfos" ng-click="showCompanies()">Entreprises ({{nbrCompanies}})</a>
		</div>

		<div class="search">
			<input type="text" placeholder="Faire une recherche" ng-model="search">

		</div>
	</section>

	<section class="gallery_profile">
		<ul class="gallery profile" ng-repeat="dataCl in datas |  filter : search">
			<li class="">
				<img src="img/id_account.svg" alt="id_pictures" height="105" width="105">
				<p class="name_profile">{{dataCl.name}}</p>
				<div class="infos_devis">
					<p>Devis</p>
					<p>{{dataCl.nbrQuot}}</p>
				</div>
				<div class="infos_facture">
					<p>Facture</p>
					<p>{{dataCl.nbrBills}}</p>
				</div>
				
				<a href="#"><i class="fa fa-times " aria-hidden="true"></i></a>
				<a href="#"><i class="fa fa-pencil" aria-hidden="true"></i></a>
				<a href="#/dashboard_Entreprise/clients/viewprofile"><i class="fa fa-eye" aria-hidden="true"></i></a>

			</li>

		</ul>
		
	</section>
</div>