<div class="innercontainer">

	<section class="viewProfile">

		<!-- User profile -->
		<div class="profile">

			<!-- Header profile -->
			<div>
				<div class="informations">
					<img src="img/id_account.svg" alt="id_pictures" height="120" width="120">
				</div>

				<div class="name_informations">
					<p>Pierre Dupont</p>

					<div class="edit">
						<a href="#"><i class="fa fa-pencil" aria-hidden="true"></i>
							<p>Edit</p>
						</a>
					</div>

				</div>
			</div>

			<div class="ALL_informations">
				<!-- Informations -->
				<div class="primary_information">

						<p class="title">Statut</p>
						<p>Monsieur</p>

						<p class="title">Phone</p>
						<p>+32(0)71129494</p>
		
						<p class="title">Mail</p>
						<p>Pierre.dupont@gmail.com</p>

						<p class="title">Optional Phone</p>
						<p>+32 (0)498398475</p>

				</div>

				<div class="contact_billings">

					<h2>Contact billings</h2>
			
						<p class="title">Name</p>
						<p>Lorem</p>
		
						<p class="title">Firstname</p>
						<p>Ipsum</p>
		
						<p class="title">Street, n°</p>
						<p>Azerty street, 17</p>

						<p class="title">Zip</p>
						<p>/</p>

						<p class="title">BP</p>
						<p>1234</p>
		
						<p class="title">City</p>
						<p>Qwerty</p>

						<p class="title">Country</p>
						<p>Belgium</p>

						<p class="title">Phone</p>
						<p>+ 32 (0) 499 87 65 43</p>
				
						<p class="title">Mail</p>
						<p>loremimpsum@lorem.com</p>
		
						<p class="title">Optional Phone</p>
						<p>+ 32 (0) 499 87 65 43</p>
			
						<p class="title">Fax</p>
						<p>+ 32 (0) 499 87 65 43</p>
		
				</div>

				<div class="contact_delivery">

					<h2>Contact delivery</h2>

						<p class="title">Same as billings datas</p>
						<p>Yes/No</p>
					
						<p class="title">Name</p>
						<p>Lorem</p>

						<p class="title">Firstname</p>
						<p>Ipsum</p>

						<p class="title">Company</p>
						<p>Kiwi Studio</p>

						<p class="title">Street, n°</p>
						<p>Azerty street, 17</p>
				
						<p class="title">Zip</p>
						<p>/</p>
					
						<p class="title">BP</p>
						<p>1234</p>

						<p class="title">City</p>
						<p>Kiwicity</p>
					
						<p class="title">Country</p>
						<p>Belgium</p>
					
				</div>
			</div>

		</div>

		<!-- Activities AND Notes -->
		<div class="activities">

			<section>

			<div class="matableprofile">

			<h1>Activities</h1>

			<h2>Factures</h2>

				<table>
					<tr>
						<th>Date</th>
						<th>File</th>
						<th>Statut</th>
						<th>Delete</th>
					</tr>
					<tr>
						<td><span>21-03-2016</span>
						12:12</td>
						<td>facture_123456_loremipsum.pdf</td>
						<td><span class="paid">Payé <i class="fa fa-check" aria-hidden="true"></i></span></td>
						<td><a href="#"><span class="deletecolumn"><i class="fa fa-times-circle" aria-hidden="true"></i></span></a></td>
					</tr>
					<tr>
						<td><span>21-03-2016</span>
						12:12</td>
						<td>facture_123456_loremipsum.pdf</td>
						<td><span class="wait">En attente <i class="fa fa-exclamation" aria-hidden="true"></i></span></td>
						<td><a href="#"><span class="deletecolumn"><i class="fa fa-times-circle" aria-hidden="true"></i></span></a></td>
					</tr>
					<tr>
						<td><span>21-03-2016</span>
						12:12</td>
						<td>facture_123456_loremipsum.pdf</td>
						<td><span class="delete">Refusé <i class="fa fa-times" aria-hidden="true"></i></span></td>
						<td><a href="#"><span class="deletecolumn"><i class="fa fa-times-circle" aria-hidden="true"></i></span></a></td>
					</tr>
					<tr>
						<td><span>21-03-2016</span>
						12:12</td>
						<td>facture_123456_loremipsum.pdf</td>
						<td><span class="wait">En attente <i class="fa fa-exclamation" aria-hidden="true"></i>
						</span></td>
						<td><a href="#"><span class="deletecolumn"><i class="fa fa-times-circle" aria-hidden="true"></i></span></a></td>
					</tr>
				</table>

				<h2>Devis</h2>

				<table>
					<tr>
						<th>Date</th>
						<th>File</th>
						<th>Statut</th>
						<th>Delete</th>
					</tr>
					<tr>
						<td><span>21-03-2016</span>
						12:12</td>
						<td>facture_123456_loremipsum.pdf</td>
						<td><span class="paid">Payé <i class="fa fa-check" aria-hidden="true"></i></span></td>
						<td><a href="#"><span class="deletecolumn"><i class="fa fa-times-circle" aria-hidden="true"></i></span></a></td>
					</tr>
					<tr>
						<td><span>21-03-2016</span>
						12:12</td>
						<td>facture_123456_loremipsum.pdf</td>
						<td><span class="wait">En attente <i class="fa fa-exclamation" aria-hidden="true"></i></span></td>
						<td><a href="#"><span class="deletecolumn"><i class="fa fa-times-circle" aria-hidden="true"></i></span></a></td>
					</tr>
					<tr>
						<td><span>21-03-2016</span>
						12:12</td>
						<td>facture_123456_loremipsum.pdf</td>
						<td><span class="delete">Refusé <i class="fa fa-times" aria-hidden="true"></i></span></td>
						<td><a href="#"><span class="deletecolumn"><i class="fa fa-times-circle" aria-hidden="true"></i></span></a></td>
					</tr>
					<tr>
						<td><span>21-03-2016</span>
						12:12</td>
						<td>facture_123456_loremipsum.pdf</td>
						<td><span class="wait">En attente <i class="fa fa-exclamation" aria-hidden="true"></i>
						</span></td>
						<td><a href="#"><span class="deletecolumn"><i class="fa fa-times-circle" aria-hidden="true"></i></span></a></td>
					</tr>
				</table>
			</div>

			</section>

			<div class="notes">
			<section>

				<h1>Notes</h1>

				<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>

			</section>
			</div>

		</div>

	</section>

</div>