<section>

	<div class="clients">
		<div class="icons">
			<i class="fa fa-users fa-4x" aria-hidden="true"></i>
		</div>

		<p class="infos">1.025 Clients</p>
		<p class="subInfos">910 particuliers / 115 sociétés</p>
	</div>


</div>
<div class="devis">
	<div class="icons">
		<i class="fa fa-pencil-square-o fa-4x" aria-hidden="true"></i>
	</div>

	<p class="infos">3.195 Devis</p>
	<p class="subInfos">200 en cours / 2.996 signés</p>
</div>
<div class="factures">
	<div class="icons">
		<i class="fa fa-file-text-o fa-4x" aria-hidden="true"></i>
	</div>
	<p class="infos">7.431 Factures</p>
	<p class="subInfos">1.220 en cours/ 6.211 payées</p>
</div>

<div class="listClients list">
	<p>Liste des clients
	<i class="material-icons ">add_circle</i>
	</p>
<table>
<tr>
	<td class="tdGreen">Picture</td>
	<td class="tdGreen">Name</td>
	<td class="tdGreen">Edit</td>
	<td class="tdGreen">Delete</td>
</tr>
<tr>
	<td><img src="img/id_account.svg" alt="id_pictures" height="35" width="35"></td>
	<td><p>Pierre Dupont</p></td>
	<td><i class="material-icons create">create</i></td>
	<td><i class="material-icons">cancel</i></td>
</tr>

<tr>
	<td><img src="img/id_account.svg" alt="id_pictures" height="35" width="35"></td>
	<td><p>Pierre Dupont</p></td>
	<td><i class="material-icons create">create</i></td>
	<td><i class="material-icons">cancel</i></td>
</tr>

<tr>
	<td><img src="img/id_account.svg" alt="id_pictures" height="35" width="35"></td>
	<td><p>Pierre Dupont</p></td>
	<td><i class="material-icons create">create</i></td>
	<td><i class="material-icons">cancel</i></td>
</tr>

	
</table>


</div>
<div class="listDevis list">
	<p>Liste des devis
	<i class="material-icons ">add_circle</i>
	</p>
	
	<table>
<tr>
	<td class="tdGreen">Référence</td>
	<td class="tdGreen">Name</td>
	<td class="tdGreen">Statut</td>
	<td class="tdGreen">Delete</td>
</tr>
<tr>
	<td><p>Ref-000001</p></td>
	<td><p>devis_pierredupont_0000001.pdf</p></td>
	<td><i class="material-icons create">create</i></td>
	<td><i class="material-icons">cancel</i></td>
</tr>
<tr>
	<td><p>Ref-000001</p></td>
	<td><p>devis_pierredupont_0000001.pdf</p></td>
	<td><i class="material-icons create">create</i></td>
	<td><i class="material-icons">cancel</i></td>
</tr>
<tr>
	<td><p>Ref-000001</p></td>
	<td><p>devis_pierredupont_0000001.pdf</p></td>
	<td><i class="material-icons create">create</i></td>
	<td><i class="material-icons">cancel</i></td>
</tr>

	
</table>
</div>
<div class="listFactures list">
	<p>Liste des factures
	<i class="material-icons ">add_circle</i>
	</p>
		<table>
<tr>
	<td class="tdGreen">Référence</td>
	<td class="tdGreen">Name</td>
	<td class="tdGreen">Statut</td>
	<td class="tdGreen">Delete</td>
</tr>
<tr>
	<td><p>Ref-000001</p></td>
	<td><p>facture_pierredupont_0000001.pdf</p></td>
	<td><i class="material-icons create">create</i></td>
	<td><i class="material-icons">cancel</i></td>
</tr>
<tr>
	<td><p>Ref-000001</p></td>
	<td><p>facture_pierredupont_0000001.pdf</p></td>
	<td><i class="material-icons create">create</i></td>
	<td><i class="material-icons">cancel</i></td>
</tr>
<tr>
	<td><p>Ref-000001</p></td>
	<td><p>facture_pierredupont_0000001.pdf</p></td>
	<td><i class="material-icons create">create</i></td>
	<td><i class="material-icons">cancel</i></td>
</tr>


	
</table>
	
</div>
</section>