	<section class="innercontainer dashboard_entreprise">

		<a href="#/dashboard_Entreprise/clients/viewclient" class="clients">
			<div class="icons">
				<i class="fa fa-users fa-4x" aria-hidden="true"></i>
			</div>

			<p class="infos">{{clients.length}} Clients</p>
			<p class="subInfos">910 particuliers / 115 sociétés</p>
		</a>

	<a href="#/dashboard_Entreprise/devis/viewdevis" class="devis">
		<div class="icons">
			<i class="fa fa-pencil-square-o fa-4x" aria-hidden="true"></i>
		</div>

		<p class="infos">{{devis.length}} Devis</p>
		<p class="subInfos">200 en cours / 2.996 signés</p>
	</a>
	<a href="#/dashboard_Entreprise/factures/viewfactures" class="factures">
		<div class="icons">
			<i class="fa fa-file-text-o fa-4x" aria-hidden="true"></i>
		</div>
		<p class="infos">{{factures.length}} Factures</p>
		<p class="subInfos">1.220 en cours/ 6.211 payées</p>
	</a>

	<div class="matable divlist">
		<table>
			<h2>Liste des clients</h2>
			<tr>
				<th>Picture</th>
				<th>Name</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
			<tr>
				<td><img src="img/id_account.svg" alt="id_pictures" height="35" width="35"></td>
				<td><p>Pierre Dupont</p></td>
				<td><a href=""> <i class="fa fa-pencil" aria-hidden="true"></i>
</a></td>
				<td><a href=""><i class="fa fa-times-circle" aria-hidden="true"></a></td>
			</tr>
			<tr>
				<td><img src="img/id_account.svg" alt="id_pictures" height="35" width="35"></td>
				<td><p>Pierre Dupont</p></td>
				<td><a href=""> <i class="fa fa-pencil" aria-hidden="true"></i>
</a></td>
				<td><a href=""><i class="fa fa-times-circle" aria-hidden="true"></a></td>
			</tr>
			<tr>
				<td><img src="img/id_account.svg" alt="id_pictures" height="35" width="35"></td>
				<td><p>Pierre Dupont</p></td>
				<td><a href=""> <i class="fa fa-pencil" aria-hidden="true"></i>
</a></td>
				<td><a href=""><i class="fa fa-times-circle" aria-hidden="true"></a></td>
			</tr>
		</table>
		<a href="#/dashboard_Entreprise/clients/createnewclient" class="button-add">Ajouter un client</a>
	</div>

	<div class="matable divlist">
		<table>
			<h2>Liste des devis</h2>
			<tr>
				<th>Référence</th>
				<th>Name</th>
				<th>Statut</th>
				<th>Delete</th>
			</tr>
			<tr>
				<td><p>Ref-000001</p></td>
				<td><p>devis_pierredupont_0000001.pdf</p></td>
				<td><a href=""> <i class="fa fa-pencil" aria-hidden="true"></i>
</a></td>
				<td><a href=""><i class="fa fa-times-circle" aria-hidden="true"></a></td>
			</tr>
			<tr>
				<td><p>Ref-000001</p></td>
				<td><p>devis_pierredupont_0000001.pdf</p></td>
				<td><a href=""> <i class="fa fa-pencil" aria-hidden="true"></i>
</a></td>
				<td><a href=""><i class="fa fa-times-circle" aria-hidden="true"></a></td>
			</tr>
			<tr>
				<td><p>Ref-000001</p></td>
				<td><p>devis_pierredupont_0000001.pdf</p></td>
				<td><a href=""> <i class="fa fa-pencil" aria-hidden="true"></i>
</a></td>
				<td><a href=""><i class="fa fa-times-circle" aria-hidden="true"></a></td>
			</tr>
		</table>
		<a href="#/dashboard_Entreprise/devis/createnewdevis" class="button-add">Ajouter un devis</a>
	</div>

	<div class="matable divlist">
		<table>
			<h2>Liste des factures</h2>
			<tr>
				<th>Référence</th>
				<th>Name</th>
				<th>Statut</th>
				<th>Delete</th>
			</tr>
			<tr>
				<td><p>Ref-000001</p></td>
				<td><p>facture_pierredupont_0000001.pdf</p></td>
				<td><a href=""> <i class="fa fa-pencil" aria-hidden="true"></i>
</a></td>
				<td><a href=""><i class="fa fa-times-circle" aria-hidden="true"></a></td>
			</tr>
			<tr>
				<td><p>Ref-000001</p></td>
				<td><p>facture_pierredupont_0000001.pdf</p></td>
				<td><a href=""> <i class="fa fa-pencil" aria-hidden="true"></i>
</a></td>
				<td><a href=""><i class="fa fa-times-circle" aria-hidden="true"></a></td>
			</tr>
			<tr>
				<td><p>Ref-000001</p></td>
				<td><p>facture_pierredupont_0000001.pdf</p></td>
				<td><a href=""> <i class="fa fa-pencil" aria-hidden="true"></i>
</a></td>
				<td><a href=""><i class="fa fa-times-circle" aria-hidden="true"></a></td>
			</tr>
		</table>
		<a href="#/dashboard_Entreprise/factures/createnewfacture" class="button-add">Ajouter un client</a>
	</div>
</section>
<div class="background"></div>