<!-- <h2>View Client</h2>
	<a href="#/dashboard_Entreprise/clients/createnewclient">Create a new client</a> -->
<div class="innercontainer">
	<section class="header_title">
		<a class="addClient">

			<div class="icons">
				<i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i>

			</div>

			<p class="infos">Ajouter un devis</p>
		</a>
		<a href="#/dashboard_Entreprise/devis/viewdevis" class="devis_view">
			<div class="icons">
				<i class="fa fa-pencil-square-o fa-3x" aria-hidden="true"></i>
			</div>

			<p class="infos">{{devis.length}}  Devis </p>

		</a>
		<a class="clients_nbr" href="#/dashboard_Entreprise/clients/viewclient">
			<div class="icons">
				<i class="fa fa-users fa-3x" aria-hidden="true"></i>
			</div>

			<p class="subInfos">Clients</p>

		</a>
		<a href="#/dashboard_Entreprise/factures/viewfactures" class="factures_view">
			<div class="icons">
				<i class="fa fa-file-text-o fa-3x" aria-hidden="true"></i>
			</div>
			<p class="subInfos">Factures</p>
		</a>
	</section>

	<section class="searchMenu">
		<button class="select" ng-click="showView1()" ng-class="{selectActive: view1}">
			<p class="subInfos">Particulier</p>
		</button>

		<button class="select" ng-click="showView2()" ng-class="{selectActive: view2}">
			<p class="subInfos">Entreprise</p>
		</button>
	</section>

	<section class="">
	</section>
</div>
<div class="background"></div>