	<div class="innercontainer">
		<section class="header_title">
			<a class="devis_view">
				<div class="icons">
					<i class="fa fa-pencil-square-o fa-3x" aria-hidden="true"></i>
				</div>

				<p class="infos">{{devis.length}} Devis</p>

			</a>
			<a class="addClient" href="#/dashboard_Entreprise/devis/createnewdevis" >
				<div class="icons">
					<i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i>
				</div>
				<p class="infos">Ajouter un devis</p>
			</a>

			<a href="#/dashboard_Entreprise/clients/viewclient" class="clients_nbr">
				<div class="icons">
					<i class="fa fa-users fa-3x" aria-hidden="true"></i>
				</div>

				<p class="subInfos">Clients</p>

			</a>
			<a href="#/dashboard_Entreprise/factures/viewfactures" class="factures_view">
				<div class="icons">
					<i class="fa fa-file-text-o fa-3x" aria-hidden="true"></i>
				</div>
				<p class="subInfos">Factures</p>
			</a>
		</section>

		<section class="searchMenu">
			<button class="select" ng-click="showAll()" ng-class="{selectActive: viewAll}">
				<p class="subInfos">Tous</p>
			</button>

			<button class="select" ng-click="showPayedDevis()" ng-class="{selectActive: viewPaid}">
				<p class="subInfos">Payés ({{nbrPayedDevis}})</p>
			</button>

			<button class="select" ng-click="showWaitingDevis()" ng-class="{selectActive: viewWaiting}">
				<p class="subInfos">En cours ({{nbrWaitingDevis}})</p>
			</button>

			<button class="select" ng-click="showRefusedDevis()" ng-class="{selectActive: viewRefused}">
				<p class="subInfos">Refusé ({{nbrRefusedDevis}})</p>
			</button>

			<div class="search">
				<input type="text" placeholder="Faire une recherche" ng-model="search"/>
				<!-- <button class="searchicon">
				<i class="fa fa-search" aria-hidden="true"></i>
				</button> -->
			</div>
		</section>



		<section>

			<div class="matable">
				<table>
					<tr>
						<th>Date <i class="fa fa-caret-down" aria-hidden="true"></i></th>
						<th>Client <i class="fa fa-caret-down" aria-hidden="true"></i></th>
						<th>File</th>
						<th>Statut <i class="fa fa-caret-down" aria-hidden="true"></i></th>
						<th>Delete</th>
						<th>View</th>
					</tr>
					<tr>
						<td>21-03-2016</td>
						<td>Lorem Ipsum</td>
						<td>facture_123456_loremipsum.pdf</td>
						<td><span class="paid">Payé <i class="fa fa-check" aria-hidden="true"></i></span></td>
						<td><a href="#"><span class="deletecolumn"><i class="fa fa-times-circle" aria-hidden="true"></i></span></a></td>
						<td><a href="#"><span class="viewcolumn"><i class="fa fa-eye" aria-hidden="true"></i></span></a></td>
					</tr>
					<tr>
						<td>21-03-2016</td>
						<td>Lorem Ipsum</td>
						<td>facture_123456_loremipsum.pdf</td>
						<td><span class="wait">En attente <i class="fa fa-exclamation" aria-hidden="true"></i></span></td>
						<td><a href="#"><span class="deletecolumn"><i class="fa fa-times-circle" aria-hidden="true"></i></span></a></td>
						<td><a href="#"><span class="viewcolumn"><i class="fa fa-eye" aria-hidden="true"></i></span></a></td>
					</tr>
					<tr>
						<td>21-03-2016</td>
						<td>Lorem Ipsum</td>
						<td>facture_123456_loremipsum.pdf</td>
						<td><span class="delete">Refusé <i class="fa fa-times" aria-hidden="true"></i></span></td>
						<td><a href="#"><span class="deletecolumn"><i class="fa fa-times-circle" aria-hidden="true"></i></span></a></td>
						<td><a href="#"><span class="viewcolumn"><i class="fa fa-eye" aria-hidden="true"></i></span></a></td>
					</tr>
					<tr>
						<td>21-03-2016</td>
						<td>Lorem Ipsum</td>
						<td>facture_123456_loremipsum.pdf</td>
						<td><span class="wait">En attente <i class="fa fa-exclamation" aria-hidden="true"></i>
						</span></td>
						<td><a href="#"><span class="deletecolumn"><i class="fa fa-times-circle" aria-hidden="true"></i></span></a></td>
						<td><a href="#"><span class="viewcolumn"><i class="fa fa-eye" aria-hidden="true"></i></span></a></td>
					</tr>
					<tr>
						<td>21-03-2016</td>
						<td>Lorem Ipsum</td>
						<td>facture_123456_loremipsum.pdf</td>
						<td><span class="paid">Payé <i class="fa fa-check" aria-hidden="true"></i></span></td>
						<td><a href="#"><span class="deletecolumn"><i class="fa fa-times-circle" aria-hidden="true"></i></span></a></td>
						<td><a href="#"><span class="viewcolumn"><i class="fa fa-eye" aria-hidden="true"></i></span></a></td>
					</tr>
					<tr>
						<td>21-03-2016</td>
						<td>Lorem Ipsum</td>
						<td>facture_123456_loremipsum.pdf</td>
						<td><span class="wait">En attente <i class="fa fa-exclamation" aria-hidden="true"></i></span></td>
						<td><a href="#"><span class="deletecolumn"><i class="fa fa-times-circle" aria-hidden="true"></i></span></a></td>
						<td><a href="#"><span class="viewcolumn"><i class="fa fa-eye" aria-hidden="true"></i></span></a></td>
					</tr>
					<tr>
						<td>21-03-2016</td>
						<td>Lorem Ipsum</td>
						<td>facture_123456_loremipsum.pdf</td>
						<td><span class="delete">Refusé <i class="fa fa-times" aria-hidden="true"></i></span></td>
						<td><a href="#"><span class="deletecolumn"><i class="fa fa-times-circle" aria-hidden="true"></i></span></a></td>
						<td><a href="#"><span class="viewcolumn"><i class="fa fa-eye" aria-hidden="true"></i></span></a></td>
					</tr>
					<tr>
						<td>21-03-2016</td>
						<td>Lorem Ipsum</td>
						<td>facture_123456_loremipsum.pdf</td>
						<td><span class="wait">En attente <i class="fa fa-exclamation" aria-hidden="true"></i></span></td>
						<td><a href="#"><span class="deletecolumn"><i class="fa fa-times-circle" aria-hidden="true"></i></span></a></td>
						<td><a href="#"><span class="viewcolumn"><i class="fa fa-eye" aria-hidden="true"></i></span></a></td>
					</tr>
					<tr>
						<td>21-03-2016</td>
						<td>Lorem Ipsum</td>
						<td>facture_123456_loremipsum.pdf</td>
						<td><span class="paid">Payé <i class="fa fa-check" aria-hidden="true"></i></span></td>
						<td><a href="#"><span class="deletecolumn"><i class="fa fa-times-circle" aria-hidden="true"></i></span></a></td>
						<td><a href="#"><span class="viewcolumn"><i class="fa fa-eye" aria-hidden="true"></i></span></a></td>
					</tr>
					<tr>
						<td>21-03-2016</td>
						<td>Lorem Ipsum</td>
						<td>facture_123456_loremipsum.pdf</td>
						<td><span class="delete">Refusé <i class="fa fa-times" aria-hidden="true"></i></span></td>
						<td><a href="#"><span class="deletecolumn"><i class="fa fa-times-circle" aria-hidden="true"></i></span></a></td>
						<td><a href="#"><span class="viewcolumn"><i class="fa fa-eye" aria-hidden="true"></i></span></a></td>
					</tr>
					<tr>
						<td>21-03-2016</td>
						<td>Lorem Ipsum</td>
						<td>facture_123456_loremipsum.pdf</td>
						<td><span class="paid">Payé <i class="fa fa-check" aria-hidden="true"></i></span></td>
						<td><a href="#"><span class="deletecolumn"><i class="fa fa-times-circle" aria-hidden="true"></i></span></a></td>
						<td><a href="#"><span class="viewcolumn"><i class="fa fa-eye" aria-hidden="true"></i></span></a></td>
					</tr>
					<tr>
						<td>21-03-2016</td>
						<td>Lorem Ipsum</td>
						<td>facture_123456_loremipsum.pdf</td>
						<td><span class="delete">Refusé <i class="fa fa-times" aria-hidden="true"></i></span></td>
						<td><a href="#"><span class="deletecolumn"><i class="fa fa-times-circle" aria-hidden="true"></i></span></a></td>
						<td><a href="#"><span class="viewcolumn"><i class="fa fa-eye" aria-hidden="true"></i></span></a></td>
					</tr>
				</table>
			</div>

		</section>

	</div>
<div class="background"></div>