@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, ../sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../sass/_reset.scss */
body {
  line-height: 1;
}

/* line 34, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 40, ../sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'weblysleek_uisemibold';
  src: url("../fonts/weblySleekUI/weblysleekuisb-webfont.woff2") format("woff2"), url("../fonts/weblySleekUI/weblysleekuisb-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'weblysleek_uisemilight';
  src: url("../fonts/weblySleekUI/weblysleekuisl-webfont.woff2") format("woff2"), url("../fonts/weblySleekUI/weblysleekuisl-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* line 37, ../sass/_typography.scss */
html {
  font-size: 100%;
}

/* line 40, ../sass/_typography.scss */
body {
  font-size: 14px;
}

/* line 44, ../sass/_typography.scss */
a {
  text-decoration: none;
  list-style: none;
  color: #6e1555;
}

/* line 50, ../sass/_typography.scss */
a:hover {
  color: #c42597;
}

/* line 54, ../sass/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "weblysleek_uisemibold", sans-serif;
  color: #6e1555;
}

/* line 58, ../sass/_typography.scss */
h1 {
  font-size: 1.7em;
}

/* line 61, ../sass/_typography.scss */
h2 {
  font-size: 1.5em;
}

/* line 65, ../sass/_typography.scss */
p {
  color: #595959;
}

/* line 69, ../sass/_typography.scss */
.subnav {
  font-family: "weblysleek_uisemibold", sans-serif;
  font-size: 1em;
  text-align: center;
}

/* line 74, ../sass/_typography.scss */
.infos {
  font-family: "Myriad pro", myriad, sans-serif;
  font-size: 2.5em;
}

/* line 78, ../sass/_typography.scss */
.subInfos {
  font-family: "Myriad pro", myriad, sans-serif;
  font-size: 1.5em;
}

/* line 82, ../sass/_typography.scss */
.list {
  font-family: "Myriad pro", myriad, sans-serif;
  font-size: 2em;
  color: #595959;
}

/* line 87, ../sass/_typography.scss */
.name {
  font-family: "Myriad pro", myriad, sans-serif;
  font-weight: bold;
  font-size: 1.125em;
}

/* line 92, ../sass/_typography.scss */
.listCategory {
  font-family: "Myriad pro", myriad, sans-serif;
  font-size: 1em;
}

/* line 5, ../sass/_dash_entreprise.scss */
section {
  padding-top: 25px;
  clear: both;
}

/* line 12, ../sass/_dash_entreprise.scss */
.clients {
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
  box-sizing: border-box;
  background-image: url(../img/BtnClients.jpg);
  height: 85px;
  border-radius: 15px 0 15px 0;
  padding: 10px 10px 10px 15px;
  text-align: right;
  color: white;
}

/* line 23, ../sass/_dash_entreprise.scss */
.devis {
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
  box-sizing: border-box;
  background-image: url(../img/BtnDevis.jpg);
  height: 85px;
  border-radius: 15px 0 15px 0;
  padding: 10px 10px 10px 15px;
  text-align: right;
  color: white;
}

/* line 34, ../sass/_dash_entreprise.scss */
.factures {
  width: 32.20339%;
  float: right;
  margin-right: 0;
  box-sizing: border-box;
  background-image: url(../img/BtnFactures.jpg);
  height: 85px;
  border-radius: 15px 0 15px 0;
  padding: 10px 10px 10px 15px;
  text-align: right;
  color: white;
}

/* line 45, ../sass/_dash_entreprise.scss */
.icons {
  float: left;
  color: white;
}

/* line 52, ../sass/_dash_entreprise.scss */
.list {
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
  margin-top: 30px;
}
/* line 55, ../sass/_dash_entreprise.scss */
.list:last-child {
  float: right;
  margin-right: 0;
}

/* line 60, ../sass/_dash_entreprise.scss */
.material-icons {
  float: right;
  padding-right: 15px;
}

/* line 68, ../sass/_dash_entreprise.scss */
table {
  width: 100%;
}

/* line 71, ../sass/_dash_entreprise.scss */
.tdGreen {
  height: 18px;
  vertical-align: middle;
  font-size: 0.5em;
  background-color: #84c900;
  padding: 3px 5px 3px 10px;
}

/* line 79, ../sass/_dash_entreprise.scss */
td {
  padding-top: 5px;
  vertical-align: middle;
}
/* line 82, ../sass/_dash_entreprise.scss */
td p {
  font-size: 0.5em;
}

/* line 4, ../sass/_addclient.scss */
.addClientForm h2 {
  color: #84c900;
  padding-bottom: 15px;
}
/* line 9, ../sass/_addclient.scss */
.addClientForm label {
  color: #595959;
  margin-bottom: 8px;
}
/* line 14, ../sass/_addclient.scss */
.addClientForm form {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.addClientForm form:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 16, ../sass/_addclient.scss */
.addClientForm form span {
  clear: both;
  display: block;
}
/* line 21, ../sass/_addclient.scss */
.addClientForm form > div {
  width: 48.27586%;
  float: left;
  margin-right: 3.44828%;
}
/* line 24, ../sass/_addclient.scss */
.addClientForm form > div:nth-child(2) {
  float: right;
  margin-right: 0;
}
/* line 28, ../sass/_addclient.scss */
.addClientForm form > div > div {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFF;
  padding: 15px;
  margin-bottom: 30px;
  box-sizing: border-box;
}
/* line 12, ../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.addClientForm form > div > div:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 34, ../sass/_addclient.scss */
.addClientForm form > div > div div > div {
  width: 48.27586%;
  float: left;
  margin-right: 3.44828%;
}
/* line 36, ../sass/_addclient.scss */
.addClientForm form > div > div div > div:nth-child(2) {
  float: right;
  margin-right: 0;
}
/* line 44, ../sass/_addclient.scss */
.addClientForm .col-right {
  float: right;
  margin-right: 0;
}
/* line 48, ../sass/_addclient.scss */
.addClientForm input, .addClientForm select, .addClientForm button {
  display: block;
  margin-bottom: 10px;
  height: 30px;
}
/* line 54, ../sass/_addclient.scss */
.addClientForm input, .addClientForm textarea {
  width: 100%;
  background-color: #f3f3f3;
  border: none;
  padding: 0 10px;
  box-sizing: border-box;
}
/* line 62, ../sass/_addclient.scss */
.addClientForm select {
  width: auto;
}

/* line 4, ../sass/_addfacture.scss */
.addFactureForm h2 {
  color: #84c900;
  padding-bottom: 15px;
}
/* line 9, ../sass/_addfacture.scss */
.addFactureForm label {
  color: #595959;
  margin-bottom: 8px;
}
/* line 14, ../sass/_addfacture.scss */
.addFactureForm form {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.addFactureForm form:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 16, ../sass/_addfacture.scss */
.addFactureForm form span {
  clear: both;
  display: block;
}
/* line 21, ../sass/_addfacture.scss */
.addFactureForm form > div {
  width: 48.27586%;
  float: left;
  margin-right: 3.44828%;
}
/* line 24, ../sass/_addfacture.scss */
.addFactureForm form > div:nth-child(2) {
  float: right;
  margin-right: 0;
}
/* line 28, ../sass/_addfacture.scss */
.addFactureForm form > div > div {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFF;
  padding: 15px;
  margin-bottom: 30px;
  box-sizing: border-box;
}
/* line 12, ../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.addFactureForm form > div > div:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 34, ../sass/_addfacture.scss */
.addFactureForm form > div > div div > div {
  width: 48.27586%;
  float: left;
  margin-right: 3.44828%;
}
/* line 36, ../sass/_addfacture.scss */
.addFactureForm form > div > div div > div:nth-child(2) {
  float: right;
  margin-right: 0;
}
/* line 44, ../sass/_addfacture.scss */
.addFactureForm .col-right {
  float: right;
  margin-right: 0;
}
/* line 48, ../sass/_addfacture.scss */
.addFactureForm input, .addFactureForm select, .addFactureForm button {
  display: block;
  margin-bottom: 10px;
  height: 30px;
}
/* line 54, ../sass/_addfacture.scss */
.addFactureForm input, .addFactureForm textarea {
  width: 100%;
  background-color: #f3f3f3;
  border: none;
  padding: 0 10px;
  box-sizing: border-box;
}
/* line 62, ../sass/_addfacture.scss */
.addFactureForm select {
  width: auto;
}

/* line 4, ../sass/_viewclient.scss */
.header_title {
  padding-top: 25px;
  color: white !important;
}
/* line 7, ../sass/_viewclient.scss */
.header_title > a {
  height: 85px;
  box-sizing: border-box;
  vertical-align: middle;
  border-radius: 15px 0 15px 0;
  padding: 10px 10px 10px 15px;
  text-align: right;
  width: 31.03448%;
  float: left;
  margin-right: 3.44828%;
}
/* line 15, ../sass/_viewclient.scss */
.header_title > a:nth-child(3) {
  width: 13.7931%;
  float: left;
  margin-right: 3.44828%;
}
/* line 18, ../sass/_viewclient.scss */
.header_title > a:nth-child(4) {
  width: 13.7931%;
  float: right;
  margin-right: 0;
}
/* line 23, ../sass/_viewclient.scss */
.header_title p {
  color: white !important;
}

/* line 28, ../sass/_viewclient.scss */
.clients_nbr {
  background-image: url(../img/BtnClients.jpg);
}

/* line 32, ../sass/_viewclient.scss */
.addClient {
  background: url(../img/BtnAdd.jpg);
}

/* line 36, ../sass/_viewclient.scss */
.devis_view {
  background-image: url(../img/BtnDevis.jpg);
}

/* line 40, ../sass/_viewclient.scss */
.factures_view {
  background-image: url(../img/BtnFactures.jpg);
}

/* line 47, ../sass/_viewclient.scss */
.searchMenu > div {
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  font-size: 0.8em;
  display: inline-block;
}

/* line 57, ../sass/_viewclient.scss */
.searchMenu > .search {
  padding: 0;
}

/* line 61, ../sass/_viewclient.scss */
.selectParticuliers {
  width: 13.7931%;
  float: left;
  margin-right: 3.44828%;
  background-color: #0297cc;
  color: white;
}

/* line 67, ../sass/_viewclient.scss */
.selectEntreprise {
  width: 13.7931%;
  float: left;
  margin-right: 3.44828%;
  background-color: #939598;
  color: white;
}

/* line 73, ../sass/_viewclient.scss */
.search {
  width: 31.03448%;
  float: left;
  margin-right: 3.44828%;
  position: relative;
}
/* line 76, ../sass/_viewclient.scss */
.search input {
  width: 100%;
  padding: 9px;
  vertical-align: middle;
  box-sizing: border-box;
}

/* line 90, ../sass/_viewclient.scss */
.profile {
  width: 13.7931%;
  float: left;
  border: 1px solid #818181;
  height: 220px;
  box-sizing: border-box;
  margin-bottom: 30px;
  text-align: center;
}
/* line 66, ../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.12/sass/susy/language/susy/_gallery.scss */
.profile:nth-child(6n + 1) {
  margin-left: 0;
  margin-right: -100%;
  clear: both;
  margin-left: 0;
}
/* line 66, ../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.12/sass/susy/language/susy/_gallery.scss */
.profile:nth-child(6n + 2) {
  margin-left: 17.24138%;
  margin-right: -100%;
  clear: none;
}
/* line 66, ../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.12/sass/susy/language/susy/_gallery.scss */
.profile:nth-child(6n + 3) {
  margin-left: 34.48276%;
  margin-right: -100%;
  clear: none;
}
/* line 66, ../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.12/sass/susy/language/susy/_gallery.scss */
.profile:nth-child(6n + 4) {
  margin-left: 51.72414%;
  margin-right: -100%;
  clear: none;
}
/* line 66, ../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.12/sass/susy/language/susy/_gallery.scss */
.profile:nth-child(6n + 5) {
  margin-left: 68.96552%;
  margin-right: -100%;
  clear: none;
}
/* line 66, ../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.12/sass/susy/language/susy/_gallery.scss */
.profile:nth-child(6n + 6) {
  margin-left: 86.2069%;
  margin-right: -100%;
  clear: none;
}
/* line 99, ../sass/_viewclient.scss */
.profile .name_profile {
  font-family: "Myriad pro", myriad, sans-serif;
  font-size: 1em;
  color: #4d4d4f;
}
/* line 105, ../sass/_viewclient.scss */
.profile .infos_devis, .profile .infos_facture {
  font-family: "Myriad pro", myriad, sans-serif;
  font-size: 0.9em;
  color: #6e1555;
  padding: 15px 8px 5px 8px;
}
/* line 110, ../sass/_viewclient.scss */
.profile .infos_devis p:first-child, .profile .infos_facture p:first-child {
  width: 73.68421%;
  float: left;
  margin-right: 5.26316%;
  text-align: left;
}
/* line 114, ../sass/_viewclient.scss */
.profile .infos_devis p:last-child, .profile .infos_facture p:last-child {
  width: 21.05263%;
  float: right;
  margin-right: 0;
  text-align: right;
  font-weight: bold;
}
/* line 121, ../sass/_viewclient.scss */
.profile .fa {
  padding: 5px 15px 0 0;
  color: #6e1555;
}

/* line 1, ../sass/_viewprofile.scss */
.viewProfile {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.viewProfile:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 4, ../sass/_viewprofile.scss */
.viewProfile .general_infos {
  width: 31.03448%;
  float: left;
  margin-right: 3.44828%;
  box-sizing: border-box;
  border-radius: 20px 0 20px 0;
  background-image: url(../img/bgViewprofile_general_info.jpg);
}
/* line 13, ../sass/_viewprofile.scss */
.viewProfile .general_infos .informations {
  width: 31.03448%;
  float: left;
  margin-right: 3.44828%;
}
/* line 17, ../sass/_viewprofile.scss */
.viewProfile .general_infos .name_informations {
  width: 65.51724%;
  float: right;
  margin-right: 0;
  padding-top: 25px;
  color: white;
  font-size: 2em;
  font-family: "Myriad pro", myriad, sans-serif;
}
/* line 24, ../sass/_viewprofile.scss */
.viewProfile .general_infos .edit {
  width: 70px;
  background-color: white;
  margin-top: 8px;
  font-size: 1rem;
  color: #6e1555;
  padding: 2px;
  text-align: center;
}
/* line 33, ../sass/_viewprofile.scss */
.viewProfile .general_infos .edit p, .viewProfile .general_infos .edit i {
  display: inline-block;
}
/* line 40, ../sass/_viewprofile.scss */
.viewProfile .activity {
  width: 65.51724%;
  float: right;
  margin-right: 0;
  background-color: green;
  box-sizing: border-box;
}

/* line 1, ../sass/_viewdevis.scss */
body {
  font-family: "Myriad pro", myriad, sans-serif;
}

/* line 5, ../sass/_viewdevis.scss */
.matable {
  padding-top: 20px;
  padding-bottom: 200px;
  margin-bottom: 30px;
  background-color: white;
}

/* line 12, ../sass/_viewdevis.scss */
table {
  background-color: white;
}

/* line 16, ../sass/_viewdevis.scss */
tbody {
  min-height: 600px;
  margin: 15px 0;
}

/* line 21, ../sass/_viewdevis.scss */
th {
  background-color: #84c900;
  color: white;
  padding: 5px;
}

/* line 30, ../sass/_viewdevis.scss */
td {
  text-align: center;
  padding-top: 20px;
  padding-left: 15px;
}

/* line 36, ../sass/_viewdevis.scss */
.viewcolumn {
  color: blue;
}

/* line 40, ../sass/_viewdevis.scss */
.deletecolumn {
  color: purple;
}

/* line 44, ../sass/_viewdevis.scss */
.paid {
  color: #84c900;
}

/* line 48, ../sass/_viewdevis.scss */
.wait {
  color: orange;
}

/* line 52, ../sass/_viewdevis.scss */
.delete {
  color: grey;
}

/* line 1, ../sass/_viewfactures.scss */
body {
  font-family: "Myriad pro", myriad, sans-serif;
}

/* line 5, ../sass/_viewfactures.scss */
.matable {
  padding-top: 20px;
  padding-bottom: 200px;
  margin-bottom: 30px;
  background-color: white;
}

/* line 12, ../sass/_viewfactures.scss */
table {
  background-color: white;
}

/* line 16, ../sass/_viewfactures.scss */
tbody {
  min-height: 600px;
  margin: 15px 0;
}

/* line 21, ../sass/_viewfactures.scss */
th {
  background-color: #84c900;
  color: white;
  padding: 5px;
}

/* line 30, ../sass/_viewfactures.scss */
td {
  text-align: center;
  padding-top: 20px;
  padding-left: 15px;
}

/* line 36, ../sass/_viewfactures.scss */
.viewcolumn {
  color: blue;
}

/* line 40, ../sass/_viewfactures.scss */
.deletecolumn {
  color: purple;
}

/* line 44, ../sass/_viewfactures.scss */
.paid {
  color: #84c900;
}

/* line 48, ../sass/_viewfactures.scss */
.wait {
  color: orange;
}

/* line 52, ../sass/_viewfactures.scss */
.delete {
  color: grey;
}

/* line 17, ../sass/style.scss */
html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 22, ../sass/style.scss */
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* line 28, ../sass/style.scss */
body {
  background-color: #eee;
}

/* line 34, ../sass/style.scss */
header {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 80px;
  border-bottom: solid 1px #6e1555;
  background-color: #FFF;
}
/* line 12, ../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
header:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 41, ../sass/style.scss */
.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
}
/* line 12, ../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.container:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 46, ../sass/style.scss */
.id_account {
  width: 6.77966%;
  float: left;
  margin-right: 1.69492%;
  margin-top: 10px;
}

/* line 51, ../sass/style.scss */
.innercontainer {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.innercontainer:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 55, ../sass/style.scss */
.logo {
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
  margin-left: 75px;
  margin-top: 20px;
}

/* line 61, ../sass/style.scss */
.settings {
  width: 6.77966%;
  float: right;
  margin-right: 0;
  margin-top: 30px;
}

/* line 66, ../sass/style.scss */
.welcome {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
  margin-top: 30px;
  text-align: right;
}

/* line 75, ../sass/style.scss */
.nav li {
  vertical-align: middle !important;
  display: inline-block;
  padding-right: 80px;
  text-align: center;
}
/* line 81, ../sass/style.scss */
.nav :last-child {
  padding-right: 0;
}

/* line 86, ../sass/style.scss */
.subnav {
  background-color: #FFF;
  padding: 7px;
}
