<section>
 <form name ="signinAdminForm" ng-submit="login(signinAdminForm.$valid)" novalidate="">
    <div class="imgcontainer">
     <img src="img/logotype.svg" alt="Avatar" class="avatar">
    </div>
  
    
  
    <div class="container">
   <!--    <div class="error" ng-if="error && signinAdminForm.$invalid">
     <div ng-if="signinAdminForm.mail.$invalid">Error in email : 
       <ul>show the error message related to the title
         <li ng-repeat="(type, error) in signinAdminForm.mail.$error">{{type}}</li>
       </ul>
     </div>
       </div> -->
      <label><b>Username</b></label>
      <input type="email" placeholder="Enter your email" name="mail" ng-model="userAdmin.mail" required>
      <label><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="pwd" ng-model="userAdmin.pwd" required>
  	  <button type="submit" class="ngdialog-button ngdialog-button-primary">Login</button>
      
    </div>
    <!-- <div ng-if="signinAdminForm.mail.$invalid">
     
    </div> -->
    
  </form>
<!-- <h2>Hello</h2>

<button on-click="redirect()">click</button> -->
</section>