<section class="subscribe_popup">
 <form >
    <div class="imgcontainer">
     <img src="img/logoCarina.svg" alt="Avatar" class="avatar" height="80">
    </div>
    
  
    <div class="container_popup">
  

      <label class="text_subscribe"><p>Email :</p></label>
      <input class="input_subscribe" type="email" placeholder="Enter your email"  required="required"></br>
     
      <label class="text_login"><p>Password :</p></label>
      <input class="input_subscribe" type="" placeholder="Enter Password"  required="required"></br>

      <label class="text_login"><p>Repeat Password :</p></label>
      <input class="input_subscribe" type="" placeholder="Enter Password"  required="required"></br>
     
  	  <button type="submit" class="ngdialog-button ngdialog-button-primary" ng-click="next_subscribe()">Next</button><br/>
           
    </div>
    <!-- <div ng-if="signinAdminForm.mail.$invalid">
     
    </div> -->
    
  </form>
<!-- <h2>Hello</h2>

<button on-click="redirect()">click</button> -->
</section>