<div class="innercontainer">
	<section class="header_title">
		<a class="addClient">
			<div class="icons">
				<i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i>
			</div>
			<p class="infos">Ajouter une facture</p>
		</a>

		<a href="#/dashboard_Entreprise/factures/viewfactures" class="factures_view">
			<div class="icons">
				<i class="fa fa-file-text-o fa-3x" aria-hidden="true"></i>
			</div>
			<p class="infos">{{factures.length}} Factures</p>
		</a>

		<a href="#/dashboard_Entreprise/clients/viewclient" class="clients_nbr">
			<div class="icons">
				<i class="fa fa-users fa-3x" aria-hidden="true"></i>
			</div>

			<p class="subInfos">Clients</p>

		</a>
		<a href="#/dashboard_Entreprise/devis/viewdevis" class="devis_view">
			<div class="icons">
				<i class="fa fa-pencil-square-o fa-3x" aria-hidden="true"></i>
			</div>

			<p class="subInfos">Devis</p>

		</a>
	</section>
	
	<section class="addFactureForm">
		<form name="addFactureForm">
			<!-- COL GAUCHE  -->
			<div>
				<div>
					<h2>Vos références</h2>
					<div>
						<div>
							<label>N° de facture  <i>*</i></label>
							<input ng-model="numbill" type="text" ng-pattern="onlyNumbers" required>
						</div>
						<div>
							<label>Date de facture  <i>*</i></label>
							<input ng-model="datebill" type="text" placeholder="dd-mm-yyyy" ng-pattern="onlyNumbers" required>
						</div>
					</div>
					<div>
						<span>
							<button>Modifier la règle des paramètres *</button>
						</span>
					</div>
				</div>

				<div>
					<h2>Références client</h2>
					<div>
						<span>
							<label>Client <i>*</i></label>
							<select ng-model="newFacture.idClient" ng-pattern="onlyLetters" required>
								<option ng-repeat="client in listClients" value="{{client.id}}">{{client.name}}</option>
								<!-- <option>Monsieur Blabla</option>
								<option>Madame Blublu</option> -->
							</select>
						</span>
					</div>
					<div>
						<div>
							<label>PO<i>*</i></label>
							<input ng-model="po" type="text" id="" ng-pattern="onlyNumbers" required>
						</div>
						<div>
							<label>N° Devis <i>*</i></label>
							<!-- option.name for option in data.availableOptions track by option.id -->
							<select ng-model="newFacture.quotId" ng-pattern="onlyNumbers" required>
								<option ng-repeat="quot in listQuotations | filter: newFacture.idClient" value="{{quot.quotLink}}">{{quot.quotLink}}</option>
								
							</select>
						</div>
					</div>
				</div>
			</div>

			<!-- COL DROITE  -->
			<div>
				<div>
					<h2>Informations et règles de paiement</h2>
					<div>
						<span>
							<label>Échéance <i>*</i></label>
							<select ng-model="newFacture.echeance" ng-options="rule for rule in listRules" ng-pattern="onlyLetters" required>
							</select>
						</span>
					</div>
					<div>
						<div>
							<label>Mode de paiement <i>*</i></label>
							<select ng-model="newFacture.payementInfo" ng-options="pmtInfo.name for pmtInfo in listPayementInfo" ng-pattern="	onlyLetters" required>
								
								
							</select>
						</div>

						<div>
							<label>Mode de paiement secondaire <i>*</i></label>
							<select ng-model="newFacture.payementInfoSecond" ng-options="pmtInfo.name for pmtInfo in listPayementInfo" ng-		pattern="onlyLetters" required>
						
							</select>
						</div>
					</div>
					<div>
						<span>
							<button>Modifier la règle des paramètres *</button>
						</span>
					</div>
					<div>
						<label>Note</label>
						<textarea rows="5"></textarea> 
					</div>
				</div>
			</div>

			<!-- TABLEAU BAS  -->
			<div class="detailsfacture">
				<div>
					<h2>Objet</h2>
					<div>
						<div>
							<label>Nom du projet  <i>*</i></label>
							<input ng-model="nameproject" type="text" id="" required>
						</div>
						<div>
							<div>
								<label>Date du début  <i>*</i></label>
								<input ng-model="dateBegin" type="text" placeholder="dd-mm-yyyy" ng-pattern="onlyNumbers">
							</div>
							<div>
								<label>Date de fin  <i>*</i></label>
								<input ng-model="dateEnd" type="text" placeholder="dd-mm-yyyy" ng-pattern="onlyNumbers">
							</div>
						</div>
					</div>
					<h2>Détails</h2>
					<div>
						<span>
							<button>Modifier le détail des articles *</button>
						</span>
					</div>
					<ul>
						<li>
							<ul class="infosfacture">
								<li class="article">Article</li>
								<li>Quantité</li>
								<li>Prix/U</li>
								<li>TVA</li>
								<li>Supprimer</li>
								<li>Description</li>
								<li>Prix HTVA</li>
							</ul>
						</li>
						<li>
							<ul class="infosarticle" ng-repeat="article in articlesDb">
								<li class="article">
									<select ng-model="newFacture.articles._id">
									<option  value="{{article.name}}">{{article.name}}</option>
									</select>
								</li>
								<li class="quantity"><input ng-model="qtearticle01" type="number"></li>
								<li>{{article.unitPrice}}<i class="symbole">€</i></li>
								<li>21 <i class="symbole">%</i></li>
								<li class="deletecolumn"><a href=""><i class="fa fa-times-circle" aria-hidden="true"></i></a></li>
								<li class="viewcolumn"><a href=""><i class="fa fa-eye" aria-hidden="true"></i></a></li>
								<li>1349.45 <i class="symbole">€</i></li>
							</ul>
						</li>
						<!-- <li>
							<ul class="infosarticle">
								<li class="article">
									<select ng-model="article02">
										<option>Pomme d'api</option>
									</select>
								</li>
								<li class="quantity"><input ng-model="qtearticle02" type="number" id=""></li>
								<li>2.00 <i class="symbole">€</i></li>
								<li>6 <i class="symbole">%</i></li>
								<li class="deletecolumn"><a href=""><i class="fa fa-times-circle" aria-hidden="true"></i></a></li>
								<li class="viewcolumn"><a href=""><i class="fa fa-eye" aria-hidden="true"></i></a></li>
								<li>2.12 <i class="symbole">€</i></li>
							</ul>
						</li>
						
						ajout article
						
						<li ng-repeat="article in articles track by $index">
							<ul class="infosarticle">
								<li class="article">
									<select ng-model="article">
										<option>Article 1</option>
										<option>Article 2</option>
										<option>Article 3</option>
										<option>Article 4</option>
									</select>
								</li>
								<li class="quantity"><input type="number"></li>
								<li>2.00 <i class="symbole">€</i></li>
								<li>6 <i class="symbole">%</i></li>
								<li class="deletecolumn"><a href=""><i class="fa fa-times-circle" aria-hidden="true"></i></a></li>
								<li class="viewcolumn"><a href=""><i class="fa fa-eye" aria-hidden="true"></i></a></li>
								<li>2.12 <i class="symbole">€</i></li>
							</ul>
						</li> -->

						<li class="ajouter">
							<input id ="button-add" type="button" class="addArticle" value="Ajouter un article" ng-click="addArticle()">
						</li>

						<li class="total">
							<ul>
								<li>Total</li>
								<li>2.12 <i class="symbole">€</i></li>
							</ul>
							<ul class="ristourne">
								<li>Ristourne</li>
								<li>
									<input ng-model="ristourneval" type="text" ng-pattern="onlyNumbers">
									<select ng-model="ristournepct">
										<option>%</option>
										<option>€</option>
										<option>$</option>
										<option>£</option>
									</select>
								</li>
							</ul>
							<ul>
								<li>Sous-Total HT</li>
								<li>2.12 <i class="symbole">€</i></li>
							</ul>
							<ul>
								<li>Total TTC</li>
								<li>2.12 <i class="symbole">€</i></li>
							</ul>
							<ul>
								<li>Accompte</li>
								<li>2.12 <i class="symbole">€</i></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</form>
	</section>
</div>
<div class="background"></div>