<div class="innercontainer">
	<section class="header_title">
		<a class="addClient">
			<div class="icons">
				<i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i>
			</div>
			<p class="infos">Ajouter une facture</p>
		</a>

		<a href="#/dashboard_Entreprise/factures/viewfactures" class="factures_view">
			<div class="icons">
				<i class="fa fa-file-text-o fa-3x" aria-hidden="true"></i>
			</div>
			<p class="infos">{{factures.length}} Factures</p>
		</a>

		<a href="#/dashboard_Entreprise/clients/viewclient" class="clients_nbr">
			<div class="icons">
				<i class="fa fa-users fa-3x" aria-hidden="true"></i>
			</div>

			<p class="subInfos">Clients</p>

		</a>
		<a href="#/dashboard_Entreprise/devis/viewdevis" class="devis_view">
			<div class="icons">
				<i class="fa fa-pencil-square-o fa-3x" aria-hidden="true"></i>
			</div>

			<p class="subInfos">Devis</p>

		</a>
	</section>
	
	<section class="addFactureForm">
		<form name="addFactureForm">
			<!-- COL GAUCHE  -->
			<div>
				<div>
					<h2>Vos références</h2>
					<div>
						<div>
							<label for="">N° de facture</label>
							<input ng-model="numbill" type="" name="" id="">
						</div>
						<div>
							<label for="">Date de facture</label>
							<input ng-model="datebill" type="" name="" id="">
						</div>
					</div>
					<div>
						<span>
							<button>Modifier la règle des paramètres *</button>
						</span>
					</div>
				</div>

				<div>
					<h2>Références client</h2>
					<div>
						<span>
							<label>Client</label>
							<select ng-model="nameclient">
								<option>Monsieur Blabla</option>
								<option>Madame Blublu</option>
							</select>
						</span>
					</div>
					<div>
						<div>
							<label for="">PO</label>
							<input ng-model="po" type="text" name="" id="">
						</div>

						<div>
							<label>N° Devis</label>
							<select ng-model="numdevis">
								<option>123-456-789</option>
								<option>987-654-321</option>
							</select>
						</div>
					</div>
				</div>
			</div>

			<!-- COL DROITE  -->
			<div>
				<div>
					<h2>Information et règles de paiement</h2>
					<div>
						<span>
							<label>Client</label>
							<select ng-model="nameclient">
								<option>Monsieur Blabla</option>
								<option>Madame Blublu</option>
							</select>
						</span>
					</div>
					<div>
						<div>
							<label for="">Mode de paiement</label>
							<select ng-model="paybillmode">
								<option selected>Compte Belfius</option>
								<option>Compte Fortis</option>
							</select>
						</div>

						<div>
							<label for="">Mode de paiement secondaire</label>
							<select ng-model="paybillmodesecond">
								<option selected>Compte </option>
								<option>Compte Fortis</option>
							</select>
						</div>
					</div>
					<div>
						<span>
							<button>Modifier la règle des paramètres *</button>
						</span>
					</div>
					<div>
						<label for="">Note</label>
						<textarea rows="5"></textarea> 
					</div>
				</div>
			</div>

			<!-- TABLEAU BAS  -->
			<div class="detailsfacture">
				<div>
					<h2>Objet</h2>
					<div>
						<div>
							<label for="">Nom du projet</label>
							<input ng-model="nameproject" type="" name="" id="">
						</div>
						<div>
							<div>
								<label for="">Date du début *</label>
								<select ng-model="begindate">
									<option>21-03-21</option>
								</select>
							</div>
							<div>
								<label for="">Date de fin *</label>
								<select ng-model="enddate">
									<option>21-03-2016</option>
								</select>
							</div>
						</div>
					</div>
					<h2>Détails</h2>
					<div>
						<span>
							<button>Modifier le détail des articles *</button>
						</span>
					</div>
					<ul>
						<li>
							<ul class="infosfacture">
								<li class="article">Article</li>
								<li>Quantité</li>
								<li>Prix/U</li>
								<li>TVA</li>
								<li>Description</li>
								<li>Supprimer</li>
								<li>Prix HTVA</li>
							</ul>
						</li>
						<li>
							<ul class="infosarticle">
								<li class="article">
									<select ng-model="article01">
										<option>Pomme de pain</option>
									</select>
								</li>
								<li class="quantity"><input ng-model="qtearticle01" type="" name="" id=""></li>
								<li>1119.75 <span class="symbole">€</span></li>
								<li>21 <span class="symbole">%</span></li>
								<li>*</li>
								<li>*</li>
								<li>1349.45 <span class="symbole">€</span></li>
							</ul>
						</li>
						<li>
							<ul class="infosarticle">
								<li class="article">
									<select ng-model="article02">
										<option>Pomme d'api</option>
									</select>
								</li>
								<li class="quantity"><input ng-model="qtearticle02" type="" name="" id=""></li>
								<li>2.00 <span class="symbole">€</span></li>
								<li>6 <span class="symbole">%</span></li>
								<li>*</li>
								<li>*</li>
								<li>2.12 <span class="symbole">€</span></li>
							</ul>
						</li>
						<li class="ajouter">
							<button>Ajouter</button>
						</li>
						<li class="total">
							<ul>
								<li>
									<ul>
										<li>Total</li>
										<li>2.12 <span class="symbole">€</span></li>
									</ul>
									<ul>
										<li>Ristourne</li>
										<li>
											<input ng-model="ristourneval" type="" name="" id="">
											<select ng-model="ristournepct">
												<option>50</option>
											</select>
										</li>
									</ul>
									<ul>
										<li>Sous-Total HT</li>
										<li>2.12 <span class="symbole">€</span></li>
									</ul>
									<ul>
										<li>Total TTC</li>
										<li>2.12 <span class="symbole">€</span></li>
									</ul>
									<ul>
										<li>Accompte</li>
										<li>2.12 <span class="symbole">€</span></li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</form>
	</section>
</div>