<div class="innercontainer">

	<div class="facturepdf">
	
		<section>
			<div class="headerfacture">
				<img src="img/logofacturepdf.png"/>
				
				<div class="informations_headerfacture">
					<h1 class="green">Nom entreprise</h1>
					<p>rue Kiwiwiwi</p>
					<p>1234 KiwiVille</p>
					<p>Tél : 010101010</p>
					<p>TVA : 010101010</p>
					<p>N° Compte : 12345678900</p>
				</div>

				<div class="title_facture">
					<p class="titlefacture"><span class="green">Facture</span></p>
					<p>Lieu, le 12/12/2012</p>
				</div>
			</div>
		</section>

		<section>
			<div class="coordonnees">
				<div class="entrepriseinfo">
					<div class="maincoordonnees">
						<p class="green">Nom entreprise</p>
						<p>N° Client : CLI-A-1</p>
						<p>TVA : 010101010</p>
					</div>
					<p>rue Blabla</p>
					<p>4321 Blablaville</p>
					<p>Site : <span class="green">demo-maqweb.com</span></p>
				</div>

				<div class="factureinfo">
					<p>FACTURE N° 090323762</p>
					<p>PO : 1234</p>
				</div>
			</div>
		</section>

		<section>
			<div class="tablefacture">
				<table>
						<tr>
							<th>Description</th>
							<th>TVA</th>
							<th>Qte</th>
							<th>P/U HT</th>
							<th>Montant HT</th>
						</tr>
						<tr>
							<td class="firstcolumn">Crédits Kiwi achetés</td>
							<td>390,00</td>
							<td>390</td>
							<td>1,00</td>
							<td>390,00</td>
						</tr>
						<tr>
							<td class="firstcolumn">Crédits Offerts utilisés</td>
							<td>10,00</td>
							<td>-10</td>
							<td>1,00</td>
							<td>-10,00</td>
						</tr>
						<tr>
							<td class="firstcolumn">Crédits venant s'ajouter à vos crédits Offerts</td>
							<td>0,00</td>
							<td>45</td>
							<td>0,00</td>
							<td>0,00</td>
						</tr>
					</table>
			</div>		
		</section>

		<section>
			<div class="netapayer">
				<p class="title">Total HT</p>
				<p>380,00 €</p>

				<p class="title">Ristourne</p>
				<p>73%</p>

				<p class="title">Sous-total hors taxes</p>
				<p>98,00 €</p>

				<p class="title">Total TVA</p>
				<p>74,48</p>

				<p class="title">Total TTC</p>
				<p>454,48 €</p>

				<div class="lastnetapayer">
				<p class="title">Net à payer</p>
				<p>454,48 €</p>
				</div>
			</div>
		</section>

		<section>
			<div class="condition">
				<p>Conditions de règlement :
				<span class="bold">Paiement par chèque/Carte bancaire</span></p>

				<p>Echéance de paiement :
				<span class="bold">30 jours fin de mois</span></p>
			</div>
		</section>

		<section>
			<div class="footerfacture">
				<p><span class="purple">Taux de pénalité de retard : 11% et indemnité de 40% HT pour frais de recouvrement - Pas d'escompte pour réglement anticipé</span></p>
			</div>
		</section>
	</div>


</div>