	<div class="innercontainer">

		<section class="header_title">

	<!--<a href="#/dashboard_Entreprise/factures/createnewfacture">Create a new facture</a>-->

			<a class="factures_view">
				<div class="icons">
					<i class="fa fa-file-text-o fa-3x" aria-hidden="true"></i>
				</div>
				<p class="infos">{{nbrBills}} Factures</p>
			</a>

			<a class="addClient" href="#/dashboard_Entreprise/factures/createnewfacture">
				<div class="icons">
					<i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i>
				</div>
				<p class="infos">Ajouter une facture</p>
			</a>


			<a class="clients_nbr" href="#/dashboard_Entreprise/clients/viewclient">
				<div class="icons">
					<i class="fa fa-users fa-3x" aria-hidden="true"></i>
				</div>

				<p class="subInfos">Clients</p>

			</a>
			<a class="devis_view" href="#/dashboard_Entreprise/devis/viewdevis">
				<div class="icons">
					<i class="fa fa-pencil-square-o fa-3x" aria-hidden="true"></i>
				</div>

				<p class="subInfos">Devis</p>

			</a>
		</section>
		
		<section class="searchMenu">
			<button class="select" ng-click="showAll()" ng-class="{selectActive: viewAll}">
				<p class="subInfos">Toutes</p>
			</button>

			<button class="select" ng-click="showUnpayedBills()" ng-class="{selectActive: viewUnpaid}">
				<p class="subInfos">En attente ({{nbrUnpaidBills}})</p>
			</button>

			<button class="select" ng-click="showPayedBills()" ng-class="{selectActive: viewPaid}">
				<p class="subInfos">Payées({{nbrPaidBills}})</p>
			</button>

			<div class="search">
				<input type="text" placeholder="Faire une recherche" ng-model="searchBill"/>
				<!-- <button class="searchicon">
				<i class="fa fa-search" aria-hidden="true"></i>
				</button> -->
			</div>
		</section>
		
		<section>
			<div class="matable">
					<table>
						<tr>

							<th>Date<a ng-click="sortBy('date')"><i class="fa fa-caret-down" aria-hidden="true"></i></a></th>
							<th>Client <a ng-click="sortBy('name')"><i class="fa fa-caret-down" aria-hidden="true"></i></a></th>

							<th>File</th>
							<th>Statut <a ng-click="sortBy('state')"><i class="fa fa-caret-down" aria-hidden="true"></i></a></th>
							<th>Delete</th>
							<th>View</th>
						</tr>

								 <tr ng-repeat="data in datas | orderBy:propertyName:reverse | filter : searchBill">

									<td>{{data.date | date : 'd/MM/yyyy'}}</td>
									<td>{{data.name}}</td>
									<td>facture_123456_loremipsum.pdf</td>
									<td ng-switch="data.state">
										<span class="paid" ng-switch-when="true">Payée <i class="fa fa-check" aria-hidden="true"></i></span>
										<span class="wait" ng-switch-when="false">En attente <i class="fa fa-exclamation" aria-hidden="true"></i></span>
									</td>
									<td><a href="#"><span class="deletecolumn"><i class="fa fa-times-circle" aria-hidden="true"></i></span></a></td>
									<td><a href="#"><span class="viewcolumn"><i class="fa fa-eye" aria-hidden="true"></i></span></a></td>
								</tr>
					</table> 
								</div>
							</section>

	</div>
<div class="background"></div>
